[2020-08-31 11:09] dosstx opened #5714 "Dropzone File Input"
### Is your feature request related to a problem? Please describe...

Currently, Bootstrap Vue supports drag and drop file inputs. However, this file input field is relatively small and it is difficult to drop a file. Furthermore, the modern trend is one where you have a "dropzone" file input area that also shows an image thumbnail/preview of the file to be uploaded. A good example of this type of

[2020-08-31 11:21] Hiws commented on #5713
`"analyzer": "use_analyzer=true npm run serve"`

`npm run serve` launches a development environment without any tree shaking or minification.
You should only analyse a production build.

You can do that by using the following script `"build:report": "vue-cli-service build --report",`.
This will build your project into the `dist` folder, and generate a `report.html` file.

Here's the steps i did wh

[2020-08-31 11:25] #5706 closed

[2020-08-31 21:49] jackmu95 commented on #5707
`BModal` supports a `noEnforceFocus` property to give the user control over the auto-focus behavior.
We should support this on the `BSidebar` component as well.

[2020-08-31 23:34] evestorm commented on #5713
Thank you so much for your help i really appreciate it!

[2020-08-31 23:34] #5713 closed

[2020-09-01 06:35] jackmu95 commented on #5688
In general the GitHub issues are only meant for issue reports or feature requests for BootstrapVue.

We have a very active and helpful Discord community for questions:
https://discord.com/invite/j2Mtcny

[2020-09-01 09:54] Hiws opened #5715 "<b-collapse> Accordion causes page to scroll"
### Describe the bug

Since Chromium 84, the page scrolls with the toggle button of an accordion (might be other scenarios), because the browser tries to keep the button in the same position in the viewport.

This has been fixed in Bootstrap `4.5.1` via this PR: https://github.com/twbs/bootstrap/pull/31347
However, because Bootstrap-Vue doesn't follow the same structure for accordions it doesn't a

[2020-09-01 09:56] Hiws commented on #5699
Looks like you were correct about it being a separate issue.
I've opened another issue to track it: https://github.com/bootstrap-vue/bootstrap-vue/issues/5715
Thanks for helping out 👍

[2020-09-01 13:36] amdp commented on #5627
Hi, in the docs it is said the icons shouldn't be loaded by default, but I get that error the same, both if I set

[code]

and if I set no bootstrapVue property and just load the module.
Do you know why?

[2020-09-01 13:41] #5702 closed

[2020-09-01 17:19] Fazendaaa opened #5718 "Typescript + Vue 3 support"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the bug

1. Clone the [NDSProject/front](https://github.com/NDSProject/front) project
2. Run: `make` -- runs `docker-compose up --build` under the hood
3. In [this](https://github.com/NDSProject/front/blob/866121909bd49e077f4a99cad73f414946deb134/src/main.ts#L2) line it's where the following error occ

[2020-09-01 18:18] Hiws commented on #5718
BootstrapVue does not support Vue 3 yet.
You can check this Issue for more information: https://github.com/bootstrap-vue/bootstrap-vue/issues/5196

[2020-09-01 18:18] #5718 closed

[2020-09-01 18:20] mangrove108 commented on #5627
[BootstrapVue](https://bootstrap-vue.org/docs/icons)

BootstrapVue icons are not automatically installed when using BootstrapVue in your project, you must explicitly include them.

I ll use them like so:
// nuxt.config.js
[code]
// icons.js in plugin folder
`import Vue from 'vue'
import {
    BootstrapVue,
    BIcon,
    BIconInfoSquare,
    BIconInfoSquareFill,
    BIconPencilSquare,
    BIconEnv

[2020-09-01 20:42] Mekiamohammed opened #5719 "where is the document related to Server Side rendering especially in b-table component"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [ ] Documentation improvement
- [x] Documentation feedback

### Is there a specific documentation page you are reporting?

Enter the URL or documentation section here.

### Additional context or description

Provide any additional details here as needed.

[2020-09-01 20:44] Mekiamohammed commented on #5719
if there is already a document regarding this let us knew ,

[2020-09-02 01:47] chandlerwilcox88 commented on #5471
I would love to have these event listeners too

[2020-09-02 06:09] xmatthias opened #5721 "bootstrap-vue table should keep selected item if data refreshes"
### Is your feature request related to a problem? Please describe...

When using the boostrap-vue table component a refresh of the underlying data will automatically unselect any previously selected row on every refresh.
This might be OK if the whole data changes, but it's possible that only one row is added (or removed) - or nothing changed at all - so the prior selection should still be valid.

[2020-09-02 07:41] 273299007 commented on #4231
Thanks for sharing this issue

[2020-09-02 09:16] Hiws commented on #5721
I don't think this is something we can implement.

Tmorehouse explains it pretty well here why the select state is managed as it is
https://github.com/bootstrap-vue/bootstrap-vue/issues/5297

[2020-09-02 09:49] xmatthias commented on #5721
Not really, no.
That issue is mostly a maintainer complaining about the complexity of the component, without providing any alternatives other than "don't use my library if you need this".

Keep in mind, i'm not talking about sorting, nor about pagination - it is a simple backend refresh of the data.

Since b-table does support primary-key, this should be easy to implement (obviously under the cons

[2020-09-02 16:24] TuringJest commented on #5129
If there was a table option to not hide all row-details as a default we could wrap the content into a collapse and just trigger that one.
It already works by toggling the detail and then the collapse but we will loose the animation on close of course.
So it would need a timeout on close which is a bit unelegant.

[2020-09-03 07:28] #5697 closed

[2020-09-03 11:02] #5627 closed

[2020-09-03 12:16] TuringJest opened #5725 "b-Table : access column widths"
Is it possible to access the column widths, to align content in the row-detail with the table without hacking into the dom?

[2020-09-03 15:03] #5711 closed

[2020-09-03 20:53] clarkestephen commented on #4797
@tmorehouse I am using v2.10.0 and dateStyle formatter suddenly stopped working. Kept getting this error (Invalid option : dateStyle)

[2020-09-04 05:12] mariusa opened #5731 "Multiple choice checkboxes: order of v-model values should be kept similar to UI"
### Is your feature request related to a problem? Please describe...

Multiple choice checkboxes: order of elements in selected v-model is in the order selected by user, instead of the order of given options array.

Example:
https://bootstrap-vue.org/docs/components/form-checkbox#form-checkbox-inputs
Example 2: Multiple choice checkboxes

Click Apple, then Orange

Selected: [ "apple", "orange" ]
E

[2020-09-04 07:14] mehdirande opened #5733 "Button Toolbar : When keynav is enabled, SHIFT + Tab cannot work"
### Describe the bug

A button toolbar with keynav enabled is a keyboard trap. Once the toolbar is focused, you can only leave it with TAB, SHIFT + TAB does not work anymore

### Steps to reproduce the bug

1. Give focus to the toolbar
2. Press SHIFT+Tab
3. The focus is blocked on the toolbar.

### Expected behavior

SHFT + Tab should give focus to the first focusable element before the toolbar in

[2020-09-04 08:42] #5707 closed

[2020-09-04 08:45] #5659 closed

[2020-09-04 08:50] 80477286 opened #5735 "When using e-tabs, when there are too many e-tabs, the e-tab will wrap automatically, which is very ugly. Scrolling mode is recommended"
### Describe the bug

When there are too many tabs, it will be changed automatically, which is very ugly. It is recommended to use the scrolling mode

### Steps to reproduce the bug

1. create b-tabs
2. Create 50 e-tab
3. tab will wrap automatically

### Expected behavior

A clear and concise description of what you expected to happen.

### Versions

**Libraries:**

- BootstrapVue: 2.#.#
- Bootstr

[2020-09-04 09:32] faithfulojebiyi opened #5736 "custom css classes dont work on icons only direct styling"
custom css does not work on b-icons

`<div class="h2 mb-0">
      <b-icon icon="battery-full"></b-icon>
    </div>`

`<style lang= "scss>
.b-icon{
  color: #7952b3;
  size: 50px;
}
</style>`

1. Go to [...]
2. Click on [...]
3. Scroll down to [...]
4. See error

### Expected behavior

i was hoping the color and size would change but nothing happened

### Versions

**Libraries:**
- BootstrapIcons
-

[2020-09-04 09:45] Hiws commented on #5206
Sorry for the delay.

I've gotten it working on Android Chrome (and Chrome emulator).
Can you test if the codepen is working for you?

[2020-09-04 09:56] Hiws commented on #5735
You can use utility classes to make the nav overflow with a scrollbar instead of wrapping.

[code]

You can also check out this #5206 issue, for another workaround.

[2020-09-04 10:01] Hiws commented on #5733
Can you check if you this has the expected behavior?
<https://bootstrap-vue-git-fix-b-button-toolbar-focus-trap.bootstrap-vue.vercel.app/docs/components/button-toolbar#button-toolbar>

[2020-09-04 10:31] Hiws commented on #5736
I just tested it in a fresh `vue-cli` project, and looks to be working as expected.

You also have a typo in your CSS.
It should be `font-size`, instead of `size`.

Inspect the DOM to see if anything is overwriting the styles you're trying to apply.

[2020-09-04 10:31] mehdirande commented on #5733
Nice! Thank you !

[2020-09-04 10:34] #5733 closed

[2020-09-04 10:40] #5453 closed

[2020-09-04 10:40] #5557 closed

[2020-09-04 10:50] faithfulojebiyi commented on #5736
I'll check that but is the color applying

[2020-09-04 10:55] Hiws commented on #5736
Yes, both the color and font-size changes.

[2020-09-04 13:04] jackmu95 commented on #5584
@mattersj I've looked into this and it's a bug in Vue.js `<transition-group>` implementation.

The is an open PR on GitHub since 2018 which seems to fix the issue:
https://github.com/vuejs/vue/pull/7901

I've created a fork of your CodePen with a patched version of Vue.js with the changes of the PR applied an the `*-enter-to` classes get properly removed there:
https://codepen.io/jackmu95/pen/PoNO

[2020-09-04 14:33] mattersj commented on #5584
@jackmu95 It seems your CodePen example a bit broken because BootstrapVue is not actually initialized so tooltips are just not working.
I created [another CodePen](https://codepen.io/mattersj/pen/MWyOXLR) and I think [mentioned PR](https://github.com/vuejs/vue/pull/7901) unfortunately does not fix the issue we are talking about.

[2020-09-04 14:39] jackmu95 commented on #5584
@mattersj Good catch. I will investigate it further but I still thinks it's related to the Vue.js issues.

We have internally a workaround for toasts to work around a similar issue:
https://github.com/bootstrap-vue/bootstrap-vue/blob/dev/src/components/toast/toaster.js#L46

[2020-09-04 15:14] mattersj commented on #5584
@jackmu95 Yeah, it looks really like Vue related issue. Anyway, thanks for looking into this:)

[2020-09-04 16:17] gfoo opened #5739 "Select row by internal index on sorted table"
Is there a way to select a row with the _internal_ index instead of the visible index ?
The problem occurs when the table is sorted, I didn't find a way to retrieve the sorted data to find its visible index.

[2020-09-05 00:47] DebaPrasad14 opened #5740 "File upload dialogue is not getting opened onclick of dropdown item"
### Describe the bug

I have a dropdown having one dropdown item which on click doesn't open the file dialogue box.

### Steps to reproduce the bug

### Expected behavior

On click of the dropdown item, it should open a file upload dialogue.

### Versions

**Libraries:**

- BootstrapVue: 2.11.0
- Bootstrap: 4.5.0
- Vue: 2.6.11

**Environment:**

- Device: [ Dell Pc ]
- OS: [Ubuntu 20.04]
- Browser

[2020-09-05 09:18] Hiws commented on #5740
It's because you're placing it inside `<b-dropdown-item>`.
Try and use `<b-dropdown-item-button>` instead.

https://codepen.io/Hiws/pen/bGpabBR

[2020-09-05 09:56] DebaPrasad14 commented on #5740
yes, @Hiws, I was trying to get it done by dropdown-items but then finally ended up doing with dropdown-item-button.

[2020-09-05 09:56] #5740 closed

[2020-09-05 10:55] dosstx opened #5741 "Disable autocapitalize on B-Form-Tag for first tag entries on mobile devices"
### Is your feature request related to a problem? Please describe...

On mobile devices, when user inputs a Form Tag, the mobile device will start the first letter of the tag as uppercase. This is the default behavior for mobile devices (iOS, not sure about others). BootstrapVue will alert the user that his entry is invalid, and there is some help text below that can be placed with more informatio

[2020-09-05 13:12] Hiws commented on #5741
Since `autocapitalize` is an input attribute, try passing it to the tags input via the `input-attrs` prop.

`<b-tags :input-attrs="{ 'autocapitalize': 'off' }"`

[2020-09-05 16:38] faithfulojebiyi commented on #5736
Before I close the issue I'd try it on a fresh project again. Please can you also try the code on BV's playground. The effects don't work there and I thought it would

[2020-09-05 16:51] Hiws commented on #5736
The playground doesn't have a field for CSS.
But exporting it to codepen and adding it there also works.

https://codepen.io/Hiws/pen/PoNEPyx

[2020-09-05 19:33] dosstx commented on #5741
Thanks! That worked perfectly. The only exception was that ESLINT removed the `'` quotes from `autocapitalize`. We can close this now.

[2020-09-05 19:34] #5741 closed

[2020-09-05 19:49] sts-ryan-holton opened #5742 "Bootstrap Vue overwrites Vee Validate config classes"
### Describe the bug

When using Bootstrap Vue 2.16.0 alongside Vee Validate 3.3.9, the Vee Validate options config for setting classes for validation seems to be overwritten by Bootstrap Vue's validation in terms of the classes being added. For example, I've turned off adding the `is-valid` class for valid inputs, but Bootstrap Vue seems to still be adding it

### Steps to reproduce the bug

- I

[2020-09-05 20:05] Hiws commented on #5742
I wouldn't really say it's "overwriting" the config.

Bootstrap-Vue adds the `is-valid` class, when the `state` is true, and the `is-invalid` class when the `state` is false.
These classes are what gives the input its styling.

If you don't want the input styled when the input is valid, set the `state` to `null` instead of true.
Alternatively, if `VeeValidate` is adding these classes by itself, yo

[2020-09-05 21:43] faithfulojebiyi commented on #5736
I've been able to fix my vue project.
I had to set up vue.config.js and my .postcssrc.js file properly everything works fine now.
Then I didn't have autoprefixer installed. Thanks for letting me figure it was from my end and not a bug 🐛. I'm grateful. 🚀

[2020-09-05 21:43] #5736 closed

[2020-09-06 14:34] sts-ryan-holton commented on #5742
@Hiws Unfortunately your suggestion doesn't achieve the correct result. The method for retreiving the validation state is as follows:

[code]

If I set `:state="true"` on an input then it appears Bootstrap Vue adds the `is-valid` class, which as I've stated I've turned off via the Vee Validate config so do not wish for this class to be added at all. If I set it to **false** then the input is perma

[2020-09-06 15:04] Hiws commented on #5742
I still don't get what a VeeValidate config has to do with BootstrapVue.
BootstrapVue doesn't know about VeeValidate, so it doesn't care what you've configured there.

If it is as follows, then wouldn't it be quite simple to change the method to return `null` instead of `true`?

Not sure where you got that from. `:state="null"` will add no classes. `:state="false"` will add `is-invalid` and `:stat

[2020-09-06 17:03] sts-ryan-holton commented on #5742
@Hiws The solution I found was to do the following...

1. Change `v-slot="validationContext"` -> `v-slot="{ errors, classes }"`
2. Remove the `state` prop entirely and add `:class="classes"`
3. Don't use `{{ validationContext.errors[0] }}` for errors, now using `{{ errors[0] }}`

And in doing this I get the desired result. `is-valid` isn't added at all on **any** of the inputs (meaning my Vee Vali

[2020-09-06 20:54] #5742 closed

[2020-09-07 14:44] #5457 closed

[2020-09-08 13:14] Charlie50503 opened #5747 "I think I found a bug when I using v-b-popover"
### Describe the bug

when i use
`
<span v-b-popover.hover.bottom="somethingText">
	test
</span>
`
in my component and i need to use beforeDestroy hook
beforeDestroy was be called how i added v-b-popover times

### Versions

**Libraries:**

- BootstrapVue: 2.16.0
- Bootstrap: 4.5.2
- Vue: 2.6.11
-vue-router: 3.2.0

**Environment:**

- Device: Thinkpad
- OS: Window 10
- Browser: Chrome
- Version: 8

[2020-09-09 08:38] gfoo commented on #5739
We can retrieve the visible index by using the element primary key and the dom `tr` attribute `data-pk`:
[code]

[2020-09-09 08:38] #5739 closed

[2020-09-09 11:32] jackmu95 commented on #5747
@Charlie50503 I've created a CodeSandbox that confirms the bug:
https://codesandbox.io/s/stupefied-solomon-89zlk

[2020-09-09 11:47] Charlie50503 commented on #5747
Thanks

[2020-09-09 11:55] DM2489 opened #5750 "b-tags-input shrink/grow when tag list goes from empty to populated"
### Describe the bug

A recent PR to `b-tags-input` has caused as styling bug.

Now, the input box is shrunk when empty (34 pixels) and no tags are selected. it grows by 4px (38px) when tags are added.

https://github.com/bootstrap-vue/bootstrap-vue/pull/5544

Removing this CSS definition seems like it would fix the bug to me:

[code]

### Steps to reproduce the bug

This can be seen on the Bootst

[2020-09-09 12:24] #5747 closed

[2020-09-09 13:37] #5750 closed

[2020-09-09 14:16] candacerogue commented on #1549
Does anyone have any updated information on this question? I implemented the same feedback, but received an error from Vue saying,

"These dependencies were not found:
* -!../../node_modules/css-loader/dist/cjs.js??ref--8-oneOf-1-1!../../node_modules/vue-loader/lib/loaders/stylePostLoader.js!../../node_modules/postcss-loader/src/index.js??ref--8-oneOf-1-2!./bootstrap-vue/dist/bootstrap-vue.css in

[2020-09-09 20:17] jackmu95 commented on #5699
I can't confirm this behavior on neither Chrome 84, Firefox or Safari on macOS.

[2020-09-09 20:43] jackmu95 commented on #5715
@Hiws Another option would be to introduce a `<b-accordion>` helper component that renders a element (`tag` defaults to `div`) which has the `accordion` class and `role="tablist"` applied.

The helper component could also provide `bvAccordion` data which we could inject into the `<b-collapse>` component to set the `accordion` prop automatically when detected.

[2020-09-09 21:08] jackmu95 commented on #5562
@namello-zmtp I've created a [CodeSanbox](https://codesandbox.io/s/xlvku) to reproduce the issue.
I wasn't able to reproduce the issue in neither iOS or Chrome on iOS.

[2020-09-09 21:34] jackmu95 commented on #5538
The problem is that you provide the method as a string (`{ ... formatter: "currencyFormat" }`) but you have to provide the function reference (`{ ... formatter: this.currencyFormat }`).

See: https://codepen.io/jackmu95/pen/RwaMGyY

[2020-09-09 22:18] jackmu95 commented on #5302
Chrome v86 adds support for the new `:focus-visible` pseudo selector and the focus ring should be gone.

[2020-09-10 02:10] TuiMao233 opened #5756 "I can't use custom themes correctly"
[code]

[2020-09-10 06:25] jackmu95 commented on #5756
@TuiMao233 Seems like you've set the value of the `$nav-link-height` variable to a value in `px` (e.g. `20px`) in your `custom.scss` file.

Pixel values are not supported for this variable. Please use a `rem` value (e.g. `2rem`) isntead.

[2020-09-10 06:25] #5449 closed

[2020-09-10 06:56] TuiMao233 commented on #5756
No, I mean, as long as I indicate the official style, there will be such an error, and after solving this error, there are still many such errors, which makes me unable to use custom themes at all

[2020-09-10 07:01] jackmu95 commented on #5568
Since the HTML 5 spec form `<input type="range">` doesn't support multiple handles this would end up as a custom component.

[2020-09-10 07:07] jackmu95 commented on #5756
I was wrong, either `$font-size-base`, `$line-height-base` or `$nav-link-padding-y` was set as a pixel value.
This is overall the themes fault. It has to support the variable value/unit types Bootstrap requires.

[2020-09-10 07:44] #5520 closed

[2020-09-10 07:58] #5679 closed

[2020-09-10 11:35] #3673 closed

[2020-09-10 15:26] TuiMao233 commented on #5756
So how should I make my custom theme reflect, I did not find an effective solution, my environment is typescript3.9.3, vue2.6.11, bootstrap4.3.1, bootstrap-vue2.1.0.

[2020-09-10 15:50] mauriciojsola commented on #3269
"setting the 'state' prop on both the input and feedback components" solved the issue. Thanks!

[2020-09-10 17:37] Petercopter commented on #5627
Same problem as @amdp. I haven't enabled the icons at all, and I'm seeing the build error. All I did was add `bootstrap-vue/nuxt` to `modules`

[2020-09-10 18:11] darrinmn9 commented on #5364
@Flygenring would u mind sharing your hack. I would like to see an example work around.

[2020-09-11 00:53] TuiMao233 commented on #5756
I solved it, as long as it doesn't use the sass and sass-loader version that comes with the vue-cli build, I manually installed sass and sass-loader after rebuilding, and then the problem was solved.

[2020-09-11 01:10] #5756 closed

[2020-09-11 01:10] #5688 closed

[2020-09-11 01:14] jackmu95 commented on #5421
Closed in favor of #5196.

[2020-09-11 01:14] #5421 closed

[2020-09-11 01:25] jackmu95 commented on #5044
Closed in favor of #5507.

[2020-09-11 01:25] #5044 closed

[2020-09-11 02:51] Kasonz commented on #5627
Same issue  - nuxt.config.js

[2020-09-11 04:47] IP-Developer opened #5759 "Generate inertia-link using b-link"
### Is your feature request related to a problem? Please describe...

Currently it is not possible to generate an `inertia-link` using the `b-link` (and all related) components.

### Describe the solution you'd like

The ability to generate links based on any route components, not just the ones based on `vue-router`

### Describe alternatives you've considered

The only solution now is to generate

[2020-09-11 06:56] Hiws commented on #5759
You should already be able to do this using the `router-component-name` prop.
https://bootstrap-vue.org/docs/components/link#third-party-rounter-links

However, this might not work directly since it looks like `inertia-link` doesn't use the `to` prop.
You could however create a wrapper component around `inertia-link`, which maps `to`, to `href`. and then define your own wrapper component in `route

[2020-09-11 10:25] #5518 closed

[2020-09-11 11:07] Flygenring commented on #5364
It's basically just as described; dumping the entire SVG code inside a `<b-iconstack>`:

[code]

[2020-09-11 11:26] #5598 closed

[2020-09-11 12:39] #4230 closed

[2020-09-12 04:28] IP-Developer commented on #5759
@Hiws it doesn't work. Here's what I've done:

Created and registered globally a `link-wrapper` component:
[code]

Defined it in `router-component-name` on `b-link`:
`<b-link to="/test-page" router-component-name="link-wrapper">Test page</b-link>`

And it doesn't use the wrapper at all:
![image](https://user-images.githubusercontent.com/2005081/92987240-6054de80-f4c9-11ea-8d97-3a3ba182d59d.png)

[2020-09-12 08:08] TuiMao233 opened #5766 "In some WeChat/QQ mobile browsers, the date selection is not displayed correctly"
### Describe the bug

In some WeChat/QQ mobile browsers, the date selection is not displayed correctly

![image](https://user-images.githubusercontent.com/49724027/92990842-278d2780-f512-11ea-9ee5-31eb88f0f963.png)

### Versions

**Libraries:**

- BootstrapVue: 2.15.0
- Bootstrap: 4.5.0
- Vue: 2.6.11

[2020-09-12 09:07] richardhulbert commented on #5568
Yes - I have started to make one effectively layering ghost inputs on top of each other I only have need of min and max so my implementation is limited atm - I will see what space I have to implement something a bit better before sharing it.

[2020-09-12 10:41] LBBO commented on #5699
Is there anything for me to do to help you out with this?

[2020-09-12 10:47] jackmu95 commented on #5699
@LBBO The question is if it is just a Chrome 84 bug on Windows or if it is something we have to work around.
Can you confirm that this issue still exists in Chrome 85 or the new Chromium base Edge browser?

[2020-09-12 10:51] LBBO commented on #5699
Yep, the bug still exists in Chrome 85.0.4183.102 (Official Build) (64-bit). The new Chromium based Edge isn't installed on my machine yet and I'd rather keep it that way for easier testing, but I could set up a VM and test it there, if you'd like.

[2020-09-12 11:07] jackmu95 commented on #5699
@LBBO That would be awesome. The bug does not exist on Firefox and the "old" Edge?

It would also be helpful for me if you could do a short screen-capture of reproducing the bug in the CodeSanbox and Chrome.
I'am still not 100% sure if I followed your steps correctly.

[2020-09-12 11:22] LBBO commented on #5699
Sure thing! I couldn't reproduce it on Firefox and I haven't tested the old Edge yet. The testing will take me a few days though since I'm running out of time for this weekend.

As for the screen-capture: I added one to [the issue I mentioned up top](https://github.com/vabene1111/recipes/issues/163). Not a CodeSandbox, but it might help anyway. IIRC, `max-rows` is set to something like `2` or `4`

[2020-09-12 18:41] Hiws commented on #5699
I've just tested it in Firefox 79 & 80.0.1. Chrome 85 and Chromium Edge 85.
It appears to be an issue on all of them. However, i remember testing it in Firefox when the issue was made and didn't experience any issues then. However it might've been an old version since i rarely use Firefox.

The screencap below is in Firefox.
![BsM6itf 1](https://user-images.githubusercontent.com/7057431/93002512-e

[2020-09-12 19:00] Hiws commented on #5759
What version of Bootstrap-Vue are you running?
`router-component-name` was added in `v2.15.0`

[2020-09-12 20:41] LBBO commented on #5699
@Hiws Yeah, that's exactly what the issue is. One consequence, for example, is that you can't edit the bottom lines of a text area when it's too close to the end of `body`.

Thanks for taking care of the testing! If there's anything else I can do, just let me know

[2020-09-13 06:26] exikyut commented on #4797
@clarkestephen: This may be due to a browser upgrade. Try in ~Chrome 83.

Ref: https://github.com/tc39/ecma402/pull/347#issuecomment-691620811

[2020-09-13 08:05] IP-Developer commented on #5759
@Hiws I'm using `v2.16.0`. I recreated your example and it doesn't work.
![image](https://user-images.githubusercontent.com/2005081/93013398-d2ecb980-f5b0-11ea-90de-8c6591784af7.png)
![image](https://user-images.githubusercontent.com/2005081/93013405-daac5e00-f5b0-11ea-9413-ebcf0d449571.png)
![image](https://user-images.githubusercontent.com/2005081/93013416-fa438680-f5b0-11ea-9940-6ab6ce67afb4.pn

[2020-09-13 12:23] vesper8 commented on #2660
I am in a situation where I would really like to use the auto-expanding ability of your textarea but I also need to start off with only 1 row. I tried your suggestion and it kind of works.. the problem is that when the component changes from input to textarea then the focus is lost and the user can't continue typing.. @tmorehouse would you know how I could get around that?

[code]

[2020-09-13 12:47] puschie286 commented on #4140
https://codepen.io/zupkode/pen/VgbRdQ

[2020-09-13 12:48] vesper8 commented on #2660
Figured it out:

[code]

[code]

[2020-09-13 12:55] vesper8 commented on #2660
It's almost perfect now but for example if you're pressing backspace to erase your message, then it will have a hiccup when it switches components on the fly... a real shame about this textarea requiring 2 rows minimum.. but I understand it's out of your hands.. perhaps forcing the textarea height to be smaller would be a better approach

[2020-09-13 13:59] #5630 closed

[2020-09-13 13:59] #5700 closed

[2020-09-13 18:10] #5592 closed

[2020-09-13 18:17] jackmu95 commented on #5766
@TuiMao233 Which device and OS was that on?

[2020-09-13 19:38] #5715 closed

[2020-09-14 01:23] TuiMao233 commented on #5766
Phone system：MIUI 10.3.10
Phone model：Redmi Note 7 Pro
WeChat version：7.0.18

[2020-09-15 22:11] kurtwielder opened #5775 "Table filter not working"
Since version 2.17.0, table filter has stopped working, which can be viewed on the examples/demo page: https://bootstrap-vue.org/docs/components/table **Complete example** section.

[2020-09-15 22:35] Hiws commented on #5775
Looks like there might be a problem with `filter-included-fields`, where it's not filtering on all fields when you pass an empty array.
If you pass it a `null` value or leave out the prob all together it looks to work as intended.

[2020-09-15 22:55] TheAndroidGuy opened #5776 "Modal padding-right bug"
In the latest v2.17.0 there is problem with modals.
When you open the modal it sets `padding-right: 17px;` to the `body`, but when you close the modal, the padding is not removed.

![padding](https://user-images.githubusercontent.com/17319245/93273005-131d8900-f7b7-11ea-97b4-ea88edd038e0.png)

To reproduce the issue go to the [Modals ](https://bootstrap-vue.org/docs/components/modal#modals)page.

[2020-09-16 00:30] Charlie50503 opened #5777 "how could I use advanced b-popover in b-table"
I want to use advanced b-popover in b-table head
v-b-popover can not change font-size and layout

I try to use craeteElement in
[code]
but it not working
Is any other way to resolve ?

Thank you.

[2020-09-16 01:54] 80477286 commented on #5735
Maybe I didn't describe it clearly. I hope it's the effect

发件人: Hiws
发送时间: 2020年9月4日 17:56
收件人: bootstrap-vue/bootstrap-vue
抄送: 80477286; Author
主题: Re: [bootstrap-vue/bootstrap-vue] When using e-tabs, when there aretoo many e-tabs, the e-tab will wrap automatically, which is very ugly.Scrolling mode is recommended (#5735)

You can use utility classes to make the nav overflow with a scrollbar ins

[2020-09-16 06:14] Vignesh-cgs opened #5778 "How to Use b-skeleton-img inside in b-skeleton-table"
I need to add an image in the skeleton table. Please help me to add, thanks

[2020-09-16 06:59] Hiws commented on #5776
This issue should already have been fixed in a recent PR.
It should be fixed with the next release.

[2020-09-16 07:01] Hiws commented on #5777
I'm not 100% sure what you're trying to do here.
Could you provide a bit more context and/or code?

[2020-09-16 07:41] jackmu95 commented on #5776
Closed by #5771.

[2020-09-16 07:41] #5776 closed

[2020-09-16 09:06] Nilaik opened #5781 "b-form-input type="number" allows any character in Firefox"
### Describe the bug

When using a b-form-input in Firefox 80.0.1 (64-Bit, Windows) you can enter any type of character.

### Steps to reproduce the bug

1. Go to in firefox [https://bootstrap-vue.org/docs/components/form-input#comp-ref-b-form-input-props]
2. Enter some text in the number input field

![grafik](https://user-images.githubusercontent.com/6548690/93317028-3a9f4080-f80d-11ea-97fe-e976

[2020-09-16 09:20] Hiws commented on #5781
`<b-form-input>` is a wrapper around the native `<input>` element.
Meaning that the behavior of each type is left up to the browser.

I just tested a normal `<input type="number" />`, and it works the same as expected.
So this is either a Browser Bug, or just how Firefox wants to implement their number input.

[2020-09-16 09:22] Hiws commented on #5778
This is currently not possible, which is why we've labeled it as a feature request.

[2020-09-16 09:27] #5775 closed

[2020-09-16 10:24] Nilaik commented on #5781
Thank you for the quick answer. I also found this bug report for Firefox: [https://bugzilla.mozilla.org/show_bug.cgi?id=1398528] Seems like Firefox will not change the behavior any time soon.

[2020-09-16 10:24] #5781 closed

[2020-09-16 14:20] chumager opened #5784 "Memory leak with several items in b-table"
### Describe the bug

Hi, After a couple of years working with your module I started havieng memleaks when the user ask for several items (100) in a dynamically generated b-table, so I started doing some memory snapshot to compare.

At first I start with 5 items with pagination and the behavior worked as expected.
![image](https://user-images.githubusercontent.com/775491/93347112-17739180-f80b-11e

[2020-09-16 14:34] jackmu95 commented on #5784
@chumager Is this a new issue with BootstrapVue v2.17.0 or did you have the same issue with previous versions as well?

[2020-09-16 15:26] woodchuck00 opened #5785 "Module not found: Error: Can't resolve 'bootstrap-vue/es/components'"
I am trying to upgrade from to 2.0.0-rc.14" to v2.17.0
after running ```npm install vue bootstrap-vue bootstrap``` I am getting the following error on build.

[code]

[2020-09-16 15:45] Hiws commented on #5785
Since you're upgrading from the `rc` release, you should go over the `2.0.0` changelog.
<https://bootstrap-vue.org/docs/reference/changelog#migration-guide-v200>

Which has a migration guide and a list of the breaking changes.
One of which is this note

[2020-09-16 18:35] woodchuck00 commented on #5785
Thanks, that was the solution.

[2020-09-16 18:35] #5785 closed

[2020-09-17 05:52] qwenger opened #5789 "b-nav-item-dropdown splitting"
If I understand correctly, `b-nav-item-dropdown` does not support splitting (#2636).

However, the documentation (https://bootstrap-vue.org/docs/components/nav#comp-ref-b-nav-item-dropdown-props) mentions "split mode" for the `text` and `html` properties. It is misleading.

[2020-09-17 06:41] JalanshMunshi commented on #1757
We can hide the buttons by using their properties -  `cancelButtonProps` and `okButtonProps`.

If you do not want to display buttons in the footer at all, then it would be better to just set the `footer` prop to `null`.

```<Modal footer={null} />```

If you want to display just a single button, then you can use their properties and set the `display` to `none`. In my case, I wanted to hide the `Ca

[2020-09-17 07:27] vanphong1310 opened #5791 "How can I set new configuration values for b-form-datepicker (BFormDatepicker, BCalendar properties) in browser?"
### Describe the bug

I need globally change all label text of b-form-datepicker, I follow the intruction in document [https://bootstrap-vue.org/docs/reference/settings#setting-new-configuration-values](url) but it don't work.

### Steps to reproduce the bug

Call Vue.use after load bootstrap-vue.js by script tag.
[code]

### Expected behavior

All label text are change.

### Versions

**Libraries

[2020-09-17 07:36] jackmu95 commented on #5791
@vanphong1310 Can you please update to the latest BootstrapVue version (v2.17.1) and see if the issues still exist.

[2020-09-17 08:03] vanphong1310 commented on #5791
@jackmu95 Thank you for your help! I was updated to v2.17.0 but there is no change. I use bootstrap-vue in browser by loading it with script tag, so I can't import library like your example :(
I found this code in dist/bootstrap-vue.js line 1467:
[code]
It call Vue.use(BootstrapVue), so I can't call Vue.use again with my options :(

[2020-09-17 08:51] fermaud opened #5792 "Headers that are not sortable are clickable and reset sorting"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the bug

Create a table with headers and click on non sortable header. Sorting is restarted

### Expected behavior

It should not be clickage or at least we could set it up.

### Versions

**Libraries:**

- BootstrapVue: 2.15
- Bootstrap: 4.5
- Vue: 2.6

- Device: Computer
- OS: Ubuntu 20
- Browser: C

[2020-09-17 09:08] Hiws commented on #5792
This feature can be disabled by adding the `no-sort-reset` prop to `<b-table>`.

[2020-09-17 09:34] fermaud commented on #5792
Thank you !

[2020-09-17 09:34] #5792 closed

[2020-09-17 13:12] ochiers opened #5795 "Navbar don't collapse when focus is set on input in page"
### Describe the bug

After click on burger menu to open the toggle navbar.
When I click in input of my page, the navbar doesn't collapse.

### Steps to reproduce the bug

[code]

1. Open navbar by click on burger menu
2. Set focus on an input in page
3. See that the navbar doesn't collapse

### Expected behavior

The navbar is collapse after click in page/out of the menu.

### Versions

**Librari

[2020-09-17 13:26] #5789 closed

[2020-09-17 13:52] phlegx opened #5797 "Error in bootstrap-vue/src/index.scss"
### Describe the bug

Cannot use bootstrap-vue in my vue project.

### Steps to reproduce the bug

1) Serve the app.

[code]

### Expected behavior

Compile scss without errors.

### Versions

**Libraries:**

- BootstrapVue: 2.17.1
- Bootstrap: 4.5.2
- Vue: 2.6.12

### Additional context

My main.js file:

[code]

[2020-09-17 13:53] Hiws commented on #5795
I'm pretty sure this is normal Bootstrap behavior and working as expected.
Though, we could maybe consider it as a feature.

However, I'm a little confused about your code snippet
[code]

It looks like you're trying to mix normal Bootstrap and BootstrapVue, which you shouldn't do.
You don't need all the `data-*` attrbutes.
The `aria-*` attributes are also applied automatically by BootstrapVue so y

[2020-09-17 14:09] Hiws commented on #5797
As described on the Getting Started page, you need to import `bootstrap/scss/bootstrap.scss` and `bootstrap-vue/src/index.scss` into a single `scss` file, and then import this single file your `main.js`.

https://bootstrap-vue.org/docs#using-module-bundlers

[2020-09-17 14:12] #5662 closed

[2020-09-17 14:14] phlegx commented on #5797
Thank you Dude!

[2020-09-17 14:14] #5797 closed

[2020-09-17 14:23] jackmu95 commented on #5766
@TuiMao233 Are you able to reproduce the same issue in the default MIUI web browser?
Do you have access to another Android device with WeChat to make sure it's an issue with the WeChat browser/webview.

[2020-09-17 14:28] ochiers commented on #5795
You have right, I've been confused when I search solution.
I let some mistakes in my snippet, we can delete `data-*` attributes.

[2020-09-17 14:36] jackmu95 commented on #5759
@IP-Developer In order to support custom `<b-link>` components with `router-component-name` we currently check for the `$router` property on the instance and fallback to a regular anchor tag (`a`) when router support wasn't detected.

That is your problem. Since you are using [inertia](https://inertiajs.com/) which don't requires `<vue-router>`.

[2020-09-17 14:38] IP-Developer commented on #5759
@jackmu95 in this case I think this should be marked as a feature request.

[2020-09-17 14:38] ochiers opened #5798 "b-form-tags add line on mobile view"
### Describe the bug

When you use b-form-tags on mobile and you have at least one tag, then the input is on multiple line.

### Steps to reproduce the bug

![image](https://user-images.githubusercontent.com/5451658/93485187-19208080-f903-11ea-8a0e-94a13936ac44.png)

1. Go on https://bootstrap-vue.org/docs/components/form-tags#b-form-tag-helper-component in Tag validation section with your mobile

[2020-09-17 14:51] ochiers opened #5799 "b-form-tags "add" button invisible block focus on input"
### Describe the bug

On mobile when the "add" button is invisible and click on this, you don't have focus on b-form-tags, your keyboard doesn't appear.

### Steps to reproduce the bug

1. Go to [b-form-tags](https://bootstrap-vue.org/docs/components/form-tags#b-form-tag-helper-component)
2. Go to "Tag creation using separators" section
3. Add a first tag
4. Click out of the input and lost focus
5

[2020-09-17 19:19] qwenger commented on #5789
Thanks @jackmu95 !

[2020-09-17 20:52] chumager commented on #5784
Hi, @jackmu95 I tried until v2.15 or v2.14 because I use the icons, and it's the same problem.

I think the problem is I use a lot o components with subcomponents, so for example no matter if a item is a string I've a component who checks if it's in the grid, in the detail or as input, other component who loads automatically the component needed, and maybe the CG from chrome is too slow to delete

[2020-09-17 23:35] arthurmcgregor opened #5802 "b-table width problem when inside d-flex justify-content-between"
### Describe the bug

I have a `<b-table />` and `<b-button />` inside a `<div class="d-flex justify-content-between">`. The table is extending the full width of the div, overlapping with the button.

### Steps to reproduce the bug
[![Edit practical-silence-4otyx](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/practical-silence-4otyx?fontsize=14&hidenavigation=1&

[2020-09-17 23:57] Charlie50503 commented on #5777
I need put some content in b-table's head

![image](https://user-images.githubusercontent.com/61115012/93538584-6ba48000-f989-11ea-8ac5-5b737742667c.png)

[code]
so I try to used advanced b-popover

![image](https://user-images.githubusercontent.com/61115012/93539180-f76adc00-f98a-11ea-8686-d3a44a9742fd.png)

I know is not gonna be work.

and I try use ```this.$createElement``` like toast

![image

[2020-09-18 04:36] #5485 closed

[2020-09-18 04:39] lexicalunit opened #5803 "Support transition duration on b-collapse"
### Is your feature request related to a problem? Please describe...

Currently the `b-collapse` component eats any props a user passes to it: https://github.com/bootstrap-vue/bootstrap-vue/blob/master/src/components/collapse/collapse.js#L245

Whereas the `bv-collapse` utility component seems to pass them along nicely: https://github.com/bootstrap-vue/bootstrap-vue/blob/master/src/utils/bv-collaps

[2020-09-18 06:31] jackmu95 commented on #5798
@ochiers By default, BootstrapVue adds the `w-100` utility class to the `b-form-tags-input` and sets it's `min-width` to `5rem`. This is why the `b-from-tags-field` gets moved to the next line on smaller/mobile devices after a certain amount of tags.

We could remove the `w-100` utility class since `flex-grow-1` is set anyway.
But even with that you have to give the `b-form-tags-input` a certain `

[2020-09-18 06:35] jackmu95 commented on #5799
I can't confirm this behavior on iOS with Chrome or Safari.
@Hiws Do you have a Android Device to be able to confirm this?

[2020-09-18 06:43] jackmu95 commented on #5802
@arthurmcgregor I'am not sure what changed the behavior since we didn't had any `<b-table>` SCSS/CSS changes in the last few months. But you would anyway be better off wrapping the table in a `<div>` with the `flex-grow-1` utility class applied:

https://codesandbox.io/s/quizzical-germain-82dqx

[2020-09-18 06:43] Hiws commented on #5799
I can't produce it on Chrome Android either.

[2020-09-18 07:21] Hiws commented on #5803
If it's a global change you're looking to make, you can customize the `$transition-collapse` SCSS variable to increase the size of the transition.

Example:
`$transition-collapse: height 2s ease;`

[2020-09-18 07:22] aggrosoft opened #5804 "Can not import BSkeletonImg"
### Describe the bug

It seems like the definition for BSkeletonImg (and the other BSkeleton helpers) is not exported

### Steps to reproduce the bug

In a SFC

[code]

Compiler will complain with

[code]

and the component will not be rendered

### Expected behavior

It should be possible to import the helpers.

### Versions

**Libraries:**

- BootstrapVue: 2.17.1
- Bootstrap: 4.5.2
- Vue: 2.6.12

[2020-09-18 10:30] #5804 closed

[2020-09-18 11:40] Hiws commented on #5777
If you want to customize a popover, the easiest way is to use the `<b-popover>` component. or use the `html` modifier on `v-b-popover`.

[2020-09-18 13:04] ericdrobinson opened #5809 "Skeleton Component Rendering Issues on Safari"
### Describe the bug

The new Skeleton component (`<b-skeleton>`) has rendering issues on Safari for macOS. The quality of gradients in the "wipe" animation is low and the masking appears to fail for `type="avatar"`.

This was taken from Chrome 85:

![image](https://user-images.githubusercontent.com/9142587/93600317-6e08d900-f98d-11ea-962a-69236cf616d9.png)

This was taken from Safari 14:

![image

[2020-09-18 14:16] KamranMaqbool commented on #2034
Add `:tbody-tr-class="rowClass"` in `<b-table :tbody-tr-class="rowClass"></table>` tag
then add rowClass Method in method object like below.

`methods: {
  rowClass(item, type) {
        if (!item || type !== 'row') return
        if (item.user_id == this.$auth.user.id) return 'table-success'
    }

}
`

[2020-09-18 15:07] guyguy2001 opened #5810 "Carousel shows transparent parts when scrolling too fast"
### Describe the bug

When sliding too fast to the right and then to the left (sometimes only in the other direction), a big transparent region appears.
![image](https://user-images.githubusercontent.com/6932278/93604519-25254480-f9ce-11ea-89aa-be4ece45744c.png)
![image](https://user-images.githubusercontent.com/6932278/93604551-2f474300-f9ce-11ea-959b-f587fcd9b672.png)

### Steps to reproduce the

[2020-09-18 16:08] hockeylagu opened #5811 "b-dropdown emit duplicate events when changing page"
### Describe the bug

On the initial load of the page the dropdown emit only once and that's the expected bethavior. But when we change the page with vue-router the dropdown will emit the "show" multiple times.

### Steps to reproduce the bug

1. Go here: https://o024d.csb.app/ or here: https://codesandbox.io/s/young-forest-o024d
2. Open the devtool
3. Click on the dropdown
4. Click on the about l

[2020-09-18 17:54] lexicalunit commented on #5803
Nice workaround @Hiws!  It won't help in my specific case though. But I'm sure others could use it.

[2020-09-18 18:12] chumager commented on #5784
Hi, I could replicate the error with a very simple components
views/memLeak.vue
[code]
components/memLeak.vue
[code]
If you change the registers per page to 1000 and move to the second page you will get the error, at least it happens to my inside my app.

Regards.

[2020-09-18 18:15] hisuwh commented on #1019
How come this is closed?  As far as I can tell typescript is only half implemented - doesn't seem to know about all the props:
[code]

[2020-09-18 18:33] ux-engineer commented on #5196
Vue 3.0 is stable (under 'next' -tag), jej! 🍰 https://github.com/vuejs/vue-next/releases/tag/v3.0.0

[2020-09-18 20:29] zcoop98 opened #5812 "Way to stop b-table from re-sorting immediately on data update?"
### Describe the ~~bug~~ question

I'm using the `b-table` component and its built-in sorting functionality.

In each row of my data, I'm using slots to insert a checkbox, which the user can click to select or deselect the row and associated data (I chose this over the native "select row" functionality for reasons). I've added the ability to sort by this column using a custom compare function boun

[2020-09-18 20:50] zcoop98 commented on #5812
In fact... looking at it now, there's some really funky behavior any time you edit data in the column that the table is currently being sorted by.

Fiddle:
https://jsfiddle.net/a2hn0c63/1/

Try sorting by `isActive` and playing with the checkboxes, specifically in the first and last rows.

Then try sorting by `age` and stepping a field up or down until it matches another input. It appears to take

[2020-09-18 20:59] zcoop98 commented on #5812
Examples in gif form:

<details>
<summary>Editing input in sorted column</summary>

![b-table-sorting-edit-crazy](https://user-images.githubusercontent.com/8434006/93644388-7da51380-f9c7-11ea-9139-b2bc2359ebb7.gif)

</details>

<details>
<summary>Editing checkboxes in sorted column</summary>

![b-table-sorting-check-edit](https://user-images.githubusercontent.com/8434006/93644574-e5f3f500-f9c7-11e

[2020-09-18 21:12] zcoop98 commented on #5812
<details>
<summary>Here's what I mean, in gif form (click to reveal)</summary>

![b-table-instant-sort](https://user-images.githubusercontent.com/8434006/93645441-a0d0c280-f9c9-11ea-8def-9214c8371840.gif)
</details>

[2020-09-19 03:17] #5496 closed

[2020-09-19 04:29] Charlie50503 commented on #5777
emm.. `b-popover` is not gonna be work in `b-table` ,I think b-table's items are not create when vue create vm.$el ,is create after updated hook ,so I think b-popover can not find target when vue create vm.$el.

Could you please show me add customize popover example in `b-table` items can have a line break
if I use html modifier can get wrap row and let two text have different style,sorry..I do no

[2020-09-19 09:01] soroka41 opened #5813 "Toast not work after deploy"
"bootstrap": "^4.5.2",
    "bootstrap-vue": "^2.16.0",
    "core-js": "^3.6.5",
    "nuxt": "^2.14.5"

Tost not work after deploy in prodactiov ssr and not ssr nuxt
Development this is good
toast() {
      this.$bvToast.toast(`Toast with action link`, {
        href: "#foo",
        title: "Example"
      });
    }
In pdod not work

[2020-09-19 21:21] kek7198 opened #5814 "Allow variant binding"
### Is your feature request related to a problem? Please describe...

I'd like to be able to bind a badge's variant to some data.

### Describe the solution you'd like

To be able to set a badge's color variant based on data.

### Describe alternatives you've considered

Creating my own component or using CSS overrides.

### Additional context

Add any other context or screenshots about the featur

[2020-09-19 23:03] Hiws commented on #5814
You can already do this, by just using `v-bind` like you usually would.

[code]

[2020-09-20 05:32] nezaboravi opened #5815 "Cell content wont change after first time creating table"
### Describe the bug

I have had a table created and displayed all the data i wanted.
If i try this from documentation (https://bootstrap-vue.org/docs/components/table#scoped-field-slots), not giving a name to cell so v-slot:cell()="row" and insert a href there, it will make all the cells in a row to be links.
One of the cells are having a href on its data like so:
[code]

A few days later, i want

[2020-09-21 08:40] Hiws opened #5817 "<b-dropdown>: Custom class for focusable items"
### Is your feature request related to a problem? Please describe...

Currently if you wish to add a custom element to the focus-able (up/down arrow keys) elements in a `<b-dropdown>`. You can currently only do this by adding the classes `dropdown-item` or `b-dropdown-form` to the element. However both of these have styles associated with them.
Which means you'd have to overwrite these styles on y

[2020-09-21 09:27] ux-engineer commented on #5196
@jackmu95 Sorry to be a hasty-pants here, yet I'm sure others are also eager to hear as to when can we expect to have Vue 3 support with this library? 👂 Having now entered the long anticipated time period of "Short after Vue.js v3 release"... 😃

[2020-09-21 10:20] guillaume-guerdoux opened #5818 "Form datepicker - October is missing"
### Describe the bug

Hello,

When using bootstrap form-datepicker (on safari or firefox), I discovered that the October month was missing for the years before 1995. It passes automatically to November

### Steps to reproduce the bug

1. Go to https://bootstrap-vue.org/docs/components/form-datepicker
2. Click on the calendar input
3. Choose a year before 1995 and position your date on September mo

[2020-09-21 10:47] Hiws commented on #5818
I can't reproduce this in Chrome 85, IE11, Firefox 80 or Chromium Edge 85.
All on Windows 10.

 @jackmu95 Can you test this on Safari?

[2020-09-21 15:45] akhchan99 opened #5819 "Tooltip trigger area"
For tooltip (eg. default), you move your mouse over to the button, and the tooltip show up above the button.  But when you move your mouse above to the tooltip, the tooltip is still active.  Are there any flag to make the tooltip go hidden as soon as you move your mouse away from the button?  As the button is what trigger the tooltip, once its out of the button area, the tooltip should go away.  B

[2020-09-21 16:38] Hiws commented on #5819
Use the `noninteractive` modifier or property.
<https://bootstrap-vue.org/docs/components/tooltip#noninteractive-tooltips>

#### Modifier
[code]

#### Prop
[code]

[2020-09-21 16:44] akhchan99 commented on #5819
Can it be set globally?

[2020-09-21 17:28] Hiws commented on #5819
Not that i know of.

[2020-09-21 17:55] jd-0001 opened #5820 "to is not resolved as router-link"
### Describe the bug

Here's simple example:

[code]

In the above two lines of code if `item.route` is `undefined` then `b-link` still resolve the route and give the unexpected route link. Whereas if you use `router-link` then it somehow resolves correctly and give URL of google.com.

### Steps to reproduce the bug

1. Just use above two lines
2. define `item` as empty object so `item.route` retu

[2020-09-21 19:25] SteveF92 commented on #4955
I'm having a very similar issue. I tried the workaround and it does fix the issue, but it does in fact break popovers within the table, which I am using. When you add class="position-relative", the popover can no longer exist outside the boundaries of the table.

[2020-09-21 21:59] SteveF92 commented on #4955
This is far from a perfect workaround, but adding this to my CSS fixes the issue:

.table-responsive table thead th span.sr-only {
    display: none;
}

[2020-09-22 04:00] jd-0001 commented on #5820
I checked the docs and found this:

So I think here `to` take precedence rather than `href`. So, it is intentional?

[2020-09-22 07:07] Jaykju opened #5822 "Semantical error on Modal page"
### Documentation issue

- [x] Reporting a typo
- [ ] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://bootstrap-vue.org/docs/components/modal#prevent-closing

### Additional context or description

The *Note* text below the code sample includes:

I think it should be

[2020-09-22 12:03] fr1k commented on #5814
when I set the variant parameter like this:
`:variant="{ 'dark': item.done }"`
"item.done" its true or false, write this:
`"Invalid prop: type check failed for prop "variant". Expected String with value "[object Object]", got Object "`.
But there must be a String.

[2020-09-22 12:18] fr1k opened #5823 ":variant"
when I set the variant parameter like this:
:variant="{ 'dark': item.done }"
"item.done" its true or false, write this:
"Invalid prop: type check failed for prop "variant". Expected String with value "[object Object]", got Object ".
But there must be a String.

[2020-09-22 12:37] Hiws commented on #5823
Variant doesn't support that syntax.

You can do this instead.
`:variant="item.done ? 'dark' : null"`

[2020-09-22 12:37] #5823 closed

[2020-09-22 19:00] jonalxh commented on #3540
It happen to me when i render a modal from a child component. Any solution?

[2020-09-23 07:17] jackmu95 commented on #5196
We will start with the Vue 3 development this week!

[2020-09-23 08:18] Hiws commented on #5471
The event `this.$root.$emit('bv::toggle::collapse', 'my-sidebar-id')` will work for the sidebar as well, since it listens for the same event as the collapse.

[2020-09-23 08:49] nezaboravi opened #5825 "Help needed"
b-table has a header with sorting options
When i click on sorting, it sorts only the page i am currently on.
What i need is to trigger fetchData() and pull data from server with data sorted.
Here is relevant code:

[code]

What happens is that it sends request to server like so:
[code]
Please note that `sortBy=$this`
In Vue inspector, after clicking on sort icons in table header, sortBy from empty

[2020-09-23 08:54] jackmu95 commented on #5822
@Jaykju This is not a typo. The text is intended like this.

[2020-09-23 08:54] #5822 closed

[2020-09-23 11:15] adarshk2522 commented on #5196
Hi @jackmu95
By when we can expect the release?

[2020-09-23 13:47] Kocal commented on #5196
@adarshk2522 feel free to contribute ;)

[2020-09-23 14:14] sowinski opened #5827 "Hamburger menu does not close after loading a new route"
Hi,

I am not sure if this is a bug or a feature.

If someone opens on a mobile device the hamburger menu and click on a link to change the route then my hamburg menu does not close.

Of course, I could write some code to close it after the route has been loaded but I think I am doing something wrong and it should close out of the box. Is my assumption correct?

Thank you

[2020-09-23 14:25] fireb1003 commented on #5196
Waiting for vue 3 support

[2020-09-23 14:32] mariusa commented on #5196
@fireb1003 As the issue says, this is about implementing vue3 support. No need to add another comment  with the known error or "+1". Subscribing is enough to for others to see your interest.

[2020-09-23 15:37] Beastvour commented on #5196
![Untitled](https://user-images.githubusercontent.com/41599516/94035056-a4b37900-fdfd-11ea-8368-6c2ebd565fb0.png)

Vue 3

npm create test
Default preset (Vue 3 preview)
vue add bootstrap-vue

[2020-09-23 15:47] lamebear commented on #5196
@Beastvour If you look at the fork that I created I solved that by using a `reactive({})` as the config instead of storing it on `Vue.prototype`.

https://github.com/lamebear/bootstrap-vue/blob/vue3/src/utils/config.js#L8-L22

[2020-09-23 19:40] abspen1 opened #5828 "Overlay b-card footer issue"
### Describe the bug

When you add a footer to a card that is using overlay, everything shows as you would expect. However, any links/buttons in the footer do not register as clickable.

### Steps to reproduce the bug
[code]

1. Copy the code above
2. Paste into your Vue environment
3. Try to click on the button/link

### Expected behavior

I expected to be able to use buttons/links in the footer

[2020-09-23 20:39] TheAndroidGuy opened #5829 "Overlay blur broken"
The overlay blur is not working.

### Steps to reproduce the bug

1. Go to [Overlay](https://dev.bootstrap-vue.org/docs/components/overlay#overlay-backdrop-color)
2. Change blur
3. The blur is not working in Chrome, Firefox
4. The blur **is** working in Microsoft Edge 85

### Versions
v2.17.3

**Libraries:**

- BootstrapVue: 2.17.3
- Bootstrap: 4.5.2
- Vue: 2.6.12

[2020-09-23 21:48] Hiws commented on #5828
Yeah, that's not intended.
Will look at see if there's an easy fix.

Here's a workaround for now.
[code]

<https://codepen.io/Hiws/pen/NWNoqOa>

[2020-09-23 23:04] caugner commented on #5196
@bbugh It very certainly won't. It doesn't seem like it's possible to support both Vue versions, because the BC breaks are too significant.

[2020-09-24 08:04] janekx21 commented on #1645
`@change` not working.
`@focus.native` not working.
`@blur.native` not working.
`@focus` not working.
`@blur` not working.
Im lost here.

[2020-09-24 08:39] Hiws commented on #5829
Given that it works in Firefox (by enabling `backdrop-filter` in `about:config`) and Chromium Edge, i believe it's a Chrome specific browser bug.

[2020-09-24 08:48] Hiws commented on #5829
Looks like it's problem in Chrome when combining `opacity` and `backdrop-filter: blur`.
<https://bugs.chromium.org/p/chromium/issues/detail?id=1129838>

[2020-09-24 08:55] janekx21 commented on #1645
This did help: https://stackoverflow.com/questions/60450873/how-to-merge-2-third-party-components-in-vuejs

[2020-09-24 09:13] Hiws commented on #5827
Default behavior should cause the that the navigation collapses after changing route.
Could you provide some more information about your code, or a reproduction?

Tested it locally, with the below code and it closed as expected.
[code]
![dCab3d7nsD](https://user-images.githubusercontent.com/7057431/94125406-96de1200-fe56-11ea-93d1-cb1cfea85225.gif)

[2020-09-25 08:17] 80477286 commented on #5735
Maybe I didn't describe it clearly. I hope it's the effect（The scroll arrows are on the left and right）
 < [tab1][tab2][tab1][tab...] >

[2020-09-25 16:44] zcoop98 commented on #5812
Feel like it's worth mentioning that by now I just went ahead and disabled sorting with the `no-local-sorting` prop, and pulled the custom sort routine that I already wrote for `sort-compare` into my own sort function. I tied this to the `@sort-changed` event, and got the desired effect: sorting only happens when you click the header, and doesn't immediately change with edited data.

It would stil

[2020-09-25 22:54] vsirghii opened #5832 "Cherry Pick is not working properly"
Hello,
I'm trying to use Bootstrap-vue individual components (Table in my case) instead of the whole framework. According to your docs all I have to do is:
[code]
and then down the code I use only `<b-table>` element of the Bootstrap-vue framework.

This works perfectly fine, but it increases my bundle with extra ~500 KB. As I understand, it means I'm getting too much from Bootstrap-vue. Because i

[2020-09-26 15:25] TheAndroidGuy commented on #5827
I am having the same issue.
It works properly on desktop but it is inconsistent on mobile devices.

[2020-09-26 17:59] Hiws commented on #5827
Any specific devices/browsers you have issue with?
and can you provide a reproduction that shows the issue, since I can't reproduce it on Chrome, Android.

[2020-09-26 19:45] TheAndroidGuy commented on #5827
@Hiws it probably requires complex example (routes and more components).
I tried on simple example it works properly.
I tried more "complex" [example ](https://jsfiddle.net/ok9qrvsc/5/)but still cannot reproduce the issue.

[2020-09-27 00:17] #5516 closed

[2020-09-27 00:17] #5460 closed

[2020-09-27 00:17] #5465 closed

[2020-09-27 00:17] #5506 closed

[2020-09-27 00:17] #5502 closed

[2020-09-27 00:17] #5444 closed

[2020-09-27 00:17] #5488 closed

[2020-09-28 03:17] arthurmcgregor commented on #5802
Great thanks! That solves the problem

[2020-09-28 03:17] #5802 closed

[2020-09-28 08:22] unre4l opened #5836 "B-Popover drops data-* attribute"
### Describe the bug

`<b-popover>` drops `data-*` attributes

### Steps to reproduce the bug

1. Add `<b-popover data-test="test" .../>`
2. Click trigger element
3. Inspect rendered dom for data-attrs
4. Don't find it.

### Expected behavior

That Bootstrap Vue components render `data-*` attributes on root components, as stated here: https://github.com/bootstrap-vue/bootstrap-vue/issues/3896#issu

[2020-09-28 09:02] marcgauch opened #5837 "Toasts no-auto-hide and no-close-button example"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://bootstrap-vue.org/docs/components/toast#accessibility-tips

### Additional context or description
Using
```this.$bvToast.toast('TEXT', { title: 'TITLE', noAutoHide: true, noCloseButto

[2020-09-28 09:50] Hiws commented on #5837
Provide your toast with a unique `id`, and utilize the `this.$bvToast.hide(yourId)` method to hide the toast again.

https://codepen.io/Hiws/pen/QWNPpPL

[2020-09-28 12:20] jackmu95 commented on #5832
Please see the [Importing as a Vue.js plugin](https://bootstrap-vue.org/docs/components/table#importing-as-a-plugin) section for each component on how to import the plugin correctly.

Here is a CodeSandbox with only the `<b-table>` plugin in use:
https://codesandbox.io/s/jolly-dust-x2krh

[2020-09-28 17:23] atyshka opened #5839 "Iconstacks do not work properly in buttons"
### Describe the bug

Iconstacks placed within a button fail to properly size, overflowing the button.

### Steps to reproduce the bug

1. Place an Iconstack within a button
2. Place an icon within that stack and note it overflowing

### Expected behavior

Iconstacks should properly fit buttons just like regular icons do.

### Versions

**Libraries:**

- BootstrapVue: 2.17.3
- Bootstrap: 4.5.0
- V

[2020-09-28 17:24] atyshka commented on #5839
Apologies, missing stacked prop

[2020-09-28 17:24] #5839 closed

[2020-09-28 17:39] jd-0001 opened #5840 "Dropdown component click issue"
### Describe the bug

I am using ripple effect with dropdown component. The problem is when I click on dropdown item ripple also get triggered on that dropdown button.

### Steps to reproduce the bug

1. Go to [CodeSandox](https://codesandbox.io/s/lingering-breeze-r3ghx)
2. Click on Dropdown button item

### Expected behavior

According to me, clicking on dropdown item shouldn't trigger ripple eff

[2020-09-28 19:19] duckbrain opened #5841 "Table `@head-contextmenu` event"
### Is your feature request related to a problem? Please describe...

I want to provide a right-click menu for the headers on a table.

### Describe the solution you'd like

I'd like an event `head-contextmenu` similar to `row-contextmenu` and `head-clicked`. Where, it fires when the header or footer is right-clicked. (`contextmenu` event)

### Describe alternatives you've considered

Bind the eve

[2020-09-28 19:34] Hiws commented on #5840
This is happening because the directive is attaching itself to the root of `<b-dropdown>`, which isn't the toggle button, but a wrapper div.
Since `v-ripple` fires on clicks on children as well, it will trigger when clicking the `dropdown-item`.

Basic example of what's happening.
[code]

You can also trigger the button effect if you click right at the corner of the button where the border radius

[2020-09-28 19:57] vsirghii opened #5842 "b-table sticky-header creates a fixed table max-height, this looks bad on different screen sizes"
Hello,
I need a table header to be freeze and content scroll-able.  sticky-header property works fine, but it sets fixed table height which
makes the table either unnecessary short on bigger height screens, or scrolls the whole page content on smaller height screens. As I understand from docs, I can only set sticky-header property to a hard-codded height in pixels, nothing else is working there (e

[2020-09-29 01:04] yannicklescure commented on #3040
Many thanks !

[2020-09-29 03:05] subhranilp commented on #4834
is there a way we can pass dynamic value in the id property of the b-collapse component `<b-collapse id="<variable>">`

[2020-09-29 04:51] jd-0001 commented on #5840
Hi @Hiws,

Certainly, slot is overkill for this. I don't know it will be better to resolve this but there are few points which maybe can work together to resolve this:
1. We can set `inheritAttrs` to `false`
2. We can create `prop` for that button
3. (Not sure how this will affect) Provide all attributes to the button instead of parent/wrapper div

The Author might know better than me about 3rd on

[2020-09-29 04:52] manjunathscp commented on #5196
Eagerly waiting on this. 😃

[2020-09-29 04:57] jackmu95 commented on #5196
Vue 3 support will come!
Please be patient ❤️

@bbugh BootstrapVue v4 with support for Bootstrap v5 will be a complete rewrite with Vue 3's composition API and will not support Vue 2.

[2020-09-29 07:14] Hiws commented on #4834
Use `v-bind`.
Like this: `<b-collapse v-bind:id="yourVariable">`

<https://vuejs.org/v2/api/#v-bind>

[2020-09-29 10:46] bbugh commented on #5196
@jackmu95 if the composition API is the only potentially inhibiting factor for Vue 2 support, you can use [vue-demi](https://github.com/antfu/vue-demi) to support Vue 3 natively and Vue 2 with the @vue/composition-api. It works very well and would require little extra effort, only changing the package to import from (`import { ref } from 'vue-demi'`). For example, vue-apollo is using it for the Vu

[2020-09-29 11:19] jackmu95 commented on #5196
I haven't said that. There will be definitely more.
But when there is a good/easy way to support Vue 2 we will look into that.

[2020-09-29 17:16] artwiney commented on #719
getting the same issue as above. guessing some kind of js error but not seeing one.

[2020-09-30 08:28] AkshayLokur commented on #3614
How to add an icon inside of `<b-nav-item>` element?
(Above answer is for `<b-nav-item-dropdown>`)

[2020-09-30 19:20] mohaimenkhalid commented on #3438
$('.modal-backdrop').remove();

[2020-10-01 08:29] Hiws commented on #5810
Could you confirm whether or not the issue is fixed here:
<https://bootstrap-vue-git-fork-hiws-b-carousel-fix-slide-glitching.bootstrap-vue.vercel.app/docs/components/carousel#carousel>

You can also install it locally by using the following url:
`npm install https://pkg.csb.dev/bootstrap-vue/bootstrap-vue/commit/76500af6/bootstrap-vue`

[2020-10-01 09:22] #5810 closed

[2020-10-01 14:29] Magenta94 opened #5847 "b-table sort icon after text but without space"
### Is your feature request related to a problem? Please describe...
![image](https://user-images.githubusercontent.com/15924478/94822229-b4851b80-0402-11eb-9efc-198e510b7775.png)

### Describe the solution you'd like
![image](https://user-images.githubusercontent.com/15924478/94822753-4c830500-0403-11eb-8871-c6b46a92eeb0.png)

I'd like the right sort icon near the text, without all that space bet

[2020-10-01 15:44] Magenta94 commented on #5847
Thanks!

[2020-10-01 15:44] #5847 closed

[2020-10-01 17:23] williamjulianvicary opened #5848 "Allow reactive b-table sorting to be blocked"
I have a use case where I'm making frequent adjustments to the underlying data in a table via sockets. This is all working well, however I'd like to only re-sort/order the table upon user interaction (in order to stop data bouncing around causing a poor UX).

To be clear, the data can be updated - but if say a field is being edited by a user is updated to "100" up from "1" and this means the order

[2020-10-01 22:13] alex8276 opened #5849 "bug handler @row-selected when click on next page"
Hello,
before to start, thanks a lot for your jobs !!

I used the doc to create a table and a pagination system. It's work (cool)
I use the properties "@row-selected". On the first page it work.
But if I clicked on a row on the first page (it works) then I go to next page. I got an error on the console
Idem if click 2 times on the same row.
[code]
My template:
[code]
The function onRowSelected. Wh

[2020-10-02 10:56] deb17 opened #5850 "Checks in valid and invalid state computed properties not needed"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

[Form group](https://bootstrap-vue.org/docs/components/form-group)

### Additional context or description

In the first example,
1.  `validFeeback` computed property need not check if state i

[2020-10-02 11:51] samturrell opened #5851 "Allow for `treeShake` to be set by the user in the nuxt module"
### Is your feature request related to a problem? Please describe...

I'm building a module which lazy loads specific components. This sometimes means that the `components` option is either not set or an empty array.

According to the code, if this value is empty, `treeShake` is always set to false, and the entirety of `bootstrap-vue` is loaded.

### Describe the solution you'd like

I'd like to b

[2020-10-02 14:54] sowinski commented on #5827
@Hiws

Thank you.

Because <b-nav-item> do not support slots, I started build my own component which looks like that.

[code]
Using <b-link> do not close the menu.

Any idea what I could do?

[2020-10-02 16:09] vsirghii commented on #5832
Got it, thanks!
It appears I was missing curly brackets in my statement:
Instead of `import TablePlugin from "bootstrap-vue"` I had to do `import { TablePlugin } from "bootstrap-vue"`
such a small detail and such a big difference.

[2020-10-02 16:09] #5832 closed

[2020-10-02 17:48] TitanFighter commented on #5814
@fr1k you can do `:variant="item.done ? 'dark' : ''"`

[2020-10-03 04:54] #5483 closed

[2020-10-03 04:54] #5492 closed

[2020-10-03 04:54] #5509 closed

[2020-10-04 19:26] #5532 closed

[2020-10-05 13:41] ddzobov opened #5855 "Column resize and reorder in table component"
I think that will be perfect idea to support resize & reorder columns (UI) in table components with saving to callback or localstorage.

[2020-10-06 01:41] Slluxx commented on #2372
I need a link to wrap the whole card and not just one part. Adding `<b-link>` link around the card breaks the card decks group though.

[2020-10-06 15:28] bbugh opened #5859 "Scrollspy on long navs does not scroll the list, and there's no events for manually handling it"
### Describe the bug

The scrollspy directive on a nav that scrolls off the page does not scroll in response to new items being activated.

### Steps to reproduce the bug

1. Make a long `nav` sidebar that is taller than the page and has `position: sticky` and `overflow-y: scroll`
2. Scroll down the page of items that are spied on
3. Observe that as you scroll down the page, the `nav` `active` ite

[2020-10-06 16:27] CarnivalBen opened #5860 "Allow setting a variant on b-tab pills"
**Feature request:** Add the ability to set a variant on a `<b-tab>` to change the color of the pill.

For example, the danger and success variants added to the first and second tabs respectively:

    <b-tabs pills card>
        <b-tab title="Tab 1" variant="danger">
            Stuff 1
        </b-tab>
        <b-tab title="Tab 2" variant="success">
            Stuff 2
        </b-tab>
    </b-t

[2020-10-06 22:35] Dan-Correia commented on #5811
The reason why this is happening is because you're adding an event handler every time the component with the dropdown is rendered.

So you either remove the event handler on the `beforeDestroy()` lifecycle event or you just call your method on the `show()` event on the actual bootstrap vue's dropdown element.

Here's a working version using the code you've written - [https://codesandbox.io/s/mysti

[2020-10-07 07:21] cosmin-stessa opened #5861 "Expose tabindex parameter of b-calendar"
### Is your feature request related to a problem? Please describe...

I am building a custom datepicker based on the calendar component which requires that when tabbing through inputs, focus not be shifted to the calendar but rather to the next input.

### Describe the solution you'd like

Expose a new parameter for b-calendar, `tabindex` with a default value of 0

### Describe alternatives you've

[2020-10-07 10:57] sowinski commented on #5827
I just replaced my li tag with a b-nav-item tag and just added my span tag in between without any problems. not sure why I did it so complicated at the beginning....

[code]

Thank you

[2020-10-07 10:57] #5827 closed

[2020-10-07 11:47] #5809 closed

[2020-10-07 11:54] #5837 closed

[2020-10-07 12:01] #5850 closed

[2020-10-07 14:10] jackmu95 commented on #5849
@alex8276 Can you please create a minimal reproduction of the issue on [CodePen](https://codepen.io/) or [CodeSandbox](https://codesandbox.io/).

[2020-10-07 14:22] jackmu95 commented on #5848
I think you are better off then to handle the sort yourself and disable local sorting.
See the [Disable local sorting](https://bootstrap-vue.org/docs/components/table#disable-local-sorting) section fo the `<b-table>` docs.

[2020-10-07 16:06] mangrove108 opened #5867 "pagination button animation"
I like to add animation with animate.css to a selected and or hovered element in the pagination row.

Sofar nothing made me implement the `v-b-hover` attribute in vue-bootstrap pagination.
Has anyone an idea how this could be achieved ? I tried the given attributes like change and page-class etc. It works on the component element but not on the individual button, i also tried slots but no avail.

[2020-10-07 18:06] prempopatia opened #5868 "How to clear old toasts before showing a new toast?"
### Is your feature request related to a problem? Please describe...

When toast is triggered for more then 1 times, it is just starts to add toast (irrespective of what user has specified as prepend/append)

### Describe the solution you'd like

There should be some solution which only allows to open 1 toast only / or user defined number of times only. If new one is triggered than old one should

[2020-10-07 19:04] TitanFighter commented on #2372
You need to use [stretched-link](https://getbootstrap.com/docs/4.5/utilities/stretched-link/) class

[2020-10-07 20:35] DaveZMB opened #5869 "Dropdown "no-flip" does not work in Modals"
### Describe the bug

The `no-flip` dropdown prop does not work properly when used in a modal.

When in a modal, opening a dropdown with the `no-flip` prop set:
- On a short screen the `.dropdown-menu` will cover the dropdown button
- When resizing the height of the browser window, the `.dropdown-menu` will move

### Steps to reproduce the bug

1. Go to [https://jsfiddle.net/280mLsx6/](https://jsf

[2020-10-07 20:56] alex8276 commented on #5849
Hello @jackmu95 ,
thanks for your answer.
I can't get the same error but I think it's the same problem. When I click on a row, my object is display in console. It's ok, but if I click on next page (or last page), I have a new print in console. Why ? It's like if when I click on next page, a row is selected by default.
I don't know if it's clear ...
https://codesandbox.io/s/still-morning-3smkw?file

[2020-10-07 23:28] Zhythero opened #5870 "b-pagination-nav: Next page button skips a page"
**Describe the bug**
When the next button of a `b-pagination-nav` is clicked, a page is skipped (acts like been double clicked)
This happens when using `use-router` and `value` (not `v-model`) props

**Versions**
Libraries:

BootstrapVue: 2.17.3
Bootstrap: 4.3.1
Vue: 2.6.3

Device: Windows PC
Browser: Chrome
Version: 86.0.4240.75 (Official Build) (64-bit)
Demo link
Replicated in the Online Playgro

[2020-10-08 08:43] jackmu95 commented on #5870
The problem is that you provide a computed `value` prop based on `this.$route.params.page`.

You need to use `v-model` instead:
https://codesandbox.io/s/intelligent-engelbart-vyir7?file=/App.vue

[2020-10-08 08:57] Zhythero commented on #5870
I see.  So we need to initiate a value to a data, then let pagination handle it after. Thanks!

[2020-10-08 08:57] #5870 closed

[2020-10-08 09:22] #5828 closed

[2020-10-08 18:55] jd-0001 opened #5873 "Sidebar with v-model and backdrop gives prop mutation warning"
### Describe the bug

I am using sidebar component for my complex app where I have button in one component and sidebar in third component and second component SFC contains root(the data property I pass as prop)

### Steps to reproduce the bug

1. Go to [Sandbox](https://codesandbox.io/s/bsv-sidebar-issue-k83ew)
2. Click on Open SIdebar
3. Click on backdrop to close it
4. See error in console

###

[2020-10-08 19:23] jackmu95 commented on #5873
The problem is is not the `<b-sidebar>` component - it's the way you try to pass down/sync the `active` value.

See this modified example:
https://codesandbox.io/s/bsv-sidebar-issue-forked-7dnu2

[2020-10-08 20:27] jd-0001 commented on #5873
Certainly, I have missed this in the API of Vue. Thanks for letting me know about the existence of a `model`.

[2020-10-08 20:27] #5873 closed

[2020-10-09 04:31] shahpankaj981 opened #5875 "Feature: Is individual Column search not available in this?"

[2020-10-09 06:41] jackmu95 commented on #5875
Please provide a detailed description for issues or feature requests.

[2020-10-09 06:41] #5875 closed

[2020-10-09 11:35] DebaPrasad14 opened #5877 "how to do nested menus in dropdown"
I am working on a feature where nested dropdown is required but I couldn't find a way to achieve that using bootstrap. so is there any way we can achieve that nested dropdown? Thanks in advance, can anyone help me out here as I need this on an urgent basis.

[2020-10-09 11:53] Hiws commented on #5877
Multilevel dropdowns are supported (yet), see https://github.com/bootstrap-vue/bootstrap-vue/issues/3435.

There are ways to hack it, like shown on this stackoverflow question.
<https://stackoverflow.com/questions/63357651/bootstrap-vue-multi-level-drop-down>

[2020-10-09 12:44] #5877 closed

[2020-10-09 14:02] jackmu95 commented on #5829
The Blur is working for me with Chrome 86 on macOS.

[2020-10-09 15:56] rgeerts opened #5879 "screen readers reading b-table empty text on page load"
### Describe the bug

Wondering if anyone has a suggestion about how to handle an accessibility issue I am running in to.

I am using the <b-table show-empty ...> component.  I have some pages with several tables on them and when the page loads it is reading the "There are no records to show" or other custom empty-text value. Sometimes reading a whole bunch of them.

<tr role="row" class="b-table-

[2020-10-09 19:07] aios commented on #5196
@jackmu95 @bbugh @mariusa Sorry to bother you, I wanted to ask, maybe you need help with development - I could do some undesirable work - for example, write documentation, convert icons, write some library components that no one wants to write. If there is any opportunity for this I would like to help speed up the development of BootstrapVue 4. Don't think about it, I really like this library and

[2020-10-10 04:26] shahpankaj981 opened #5881 "Feature: Individual Column search in datatable"
Does this package have individual column search in datatables like in the image at [https://pasteboard.co/JuWDrGt.png](https://pasteboard.co/JuWDrGt.png)

It can also be seen at [https://datatables.net/examples/api/multi_filter.html](url)

[2020-10-10 08:00] #5547 closed

[2020-10-10 08:00] #5312 closed

[2020-10-10 08:00] #5399 closed

[2020-10-10 12:32] TheAndroidGuy commented on #5829
Not working for me with Chrome 86 on Windows.

[2020-10-11 06:16] ahmadrezaei commented on #5627
If you want to remove icons plugin from your nuxt app remove icons component and directive from global components and just add components you need, for example:

`module.exports = {
  modules: ['bootstrap-vue/nuxt'],
  bootstrapVue: {
    icons: false,
    components: ['BContainer', 'BRow', 'BCol', 'BFormInput', 'BButton', 'BTable', 'BModal'], // not include BootstrapVueIcons component
    directi

[2020-10-12 09:47] Hiws commented on #5881
This is not something that is supported currently.

You would have to do a custom implementation.

[2020-10-12 13:00] amerioca commented on #4291
Same Issue, still at a loss

[2020-10-12 15:25] #5820 closed

[2020-10-12 21:31] #5836 closed

[2020-10-12 22:13] XXLuigiMario opened #5888 "Table flickers when refreshing from provider due to busy state"
I have a table with the `items` prop set to a provider function which pulls data from an API, then have a `setInterval` in `mounted` which calls `this.$refs.table.refresh()` as suggested in #2144. However, every time the table is updated, there is noticeable flicker.

![flicker](https://user-images.githubusercontent.com/7153662/95794572-851abc80-0ce8-11eb-8102-36a9c74aeed2.gif)

This seems to occu

[2020-10-13 07:38] Hiws commented on #5888
You can simply change the CSS to be `opacity: 1`, overwriting the styling you mentioned.

If you want to apply it globally you can change the SCSS variable `$b-table-busy-opacity`.

[2020-10-13 13:17] Hiws commented on #5867
There's no reason to use `v-b-hover` in this case.
This can be accomplished by using normal CSS and targeting the appropriate classes.

In the example below i add a custom class via the `page-class` prop, to limit the animation to the numbered page buttons.
<https://codepen.io/Hiws/pen/RwRWZQB>

[2020-10-13 15:04] ngoclx opened #5893 "Not working for IE"
The "form" elements like b-form-checkbox, b-pagination, etc don't work on IE.
The website uses bootstrap-vue with gridsome.

### Steps to reproduce the bug
http://sydneyhealthpartners.org.au/news

### Versions
**Libraries:**
    "bootstrap-vue": "^2.16.0",
    "bootstrap": "^4.5.2",
    "gridsome": "^0.7.0",

[2020-10-13 15:36] ngoclx commented on #5893
![image](https://user-images.githubusercontent.com/4980223/95882798-519d6800-0da4-11eb-90e6-07ced629b85e.png)

Pls check the attached image. The site doesn't react to any click to checkbox/pagination. I tried to add babel-polyfill but not 100% sure if it works.

[2020-10-13 15:50] Hiws commented on #5893
That's a polyfill issue, so you will have to configure your project to do that.

The browser support section has a small section about adding it, but it might be different for Gridsome.
<https://bootstrap-vue.org/docs#js>

Alternatively you can try <https://polyfill.io/>, which from my experience is easier to set up.

[2020-10-13 23:21] pitahbread commented on #3254
Is there a way to update the nodes once the toast has been created/shown?

[2020-10-14 00:57] ngoclx commented on #5893
I even tried to put both babel polyfill and polyfill.io but it is still not good.

![image](https://user-images.githubusercontent.com/4980223/95931222-be3f5380-0df2-11eb-8b2d-0901f429636e.png)

[2020-10-14 06:39] enix-app commented on #5196
Is there *bootstrap-vue/bootstrap-vue-next* repo?

[2020-10-14 06:45] jackmu95 commented on #5196
No. There will be a `next` branch soonish.

[2020-10-14 12:00] farshadfahimi opened #5900 "add variant to the b-form-checkbox-group with switches style"
this is good Idea to have variant in the checkbox with switches style like below

[code]
and if you are agree with that is it possible to do it my self and create a merge request?

[2020-10-14 17:04] ChaseLewis opened #5901 "b-input doesn't update properly when non-alphanumeric character is typed"
I'm writing a small form for a UI where a user can type a comma delimited list of items. I was wanting to have onchange a scrubber run over the inputs and remove empty and blank inputs. The code below works as long as they type a new alphanumeric character or press backspace before leaving the input. If they don't type an alphanumeric character for some reason (a comma or a space from my testing)

[2020-10-14 18:30] ChaseLewis commented on #5901
Just an FYI I stopped using b-input and changed it to a normal input with a form-control class and everything worked. Example code that works.

[code]

[2020-10-14 21:19] jackmu95 commented on #5900
@farshadfahimi Feel free to submit a PR :)

[2020-10-15 04:43] aakashbashyal21 opened #5903 "b-dropdown is not rendering any css class"
I am using bootstrap-vue to add `<b-dropdown>` components, but the button doesn't have an effect on adding any CSS class.

Is this some bug with the **b-dropdown** component or I am doing something wrong while adding a class?

[code]
https://jsfiddle.net/abashyal21/gq253y61/3/

[2020-10-15 06:33] jackmu95 commented on #5903
@aakashbashyal21 You are using the wrong prop.
Make sure to use the `toggle-class` prop for `<b-dropdown>`.

[2020-10-15 07:18] aakashbashyal21 commented on #5903
Thank you that worked!

[2020-10-15 07:18] #5903 closed

[2020-10-15 07:54] Hiws commented on #5901
Can you write a simplified reproduction of the issue?

[2020-10-15 08:21] alik472 commented on #302
It does have a click event.

`@page-click="handleClick"`

[2020-10-15 15:37] ChaseLewis commented on #5901
@Hiws  I'll try to write something tonight

[2020-10-15 18:24] jongbonga commented on #2428
Sorry to come more than a year later... how do I then use `img-width` on `card` if it always going to be 100%?

[2020-10-16 00:09] upsilon opened #5908 "b-form-radio-group should not trigger input event when value is changed from outside"
### Describe the bug

The input event is triggered even if the value is changed from outside the `<b-form-radio-group>` component.
This behavior differs from the native `<input type="radio">` element.

### Steps to reproduce the bug

https://jsfiddle.net/kim_upsilon/u7vcz89o/

![](https://user-images.githubusercontent.com/92577/96197149-2e351180-0f8c-11eb-8d34-19b3a38bce05.png)

When the selectedV

[2020-10-16 00:36] zeodtr commented on #1163
@tmorehouse It does not work when the container element has 'position: absolute' style. It would be great if HTML spec itself had a solution for this.. (for example, 'clip-by-container: no' style)

[2020-10-16 06:50] #5861 closed

[2020-10-16 06:52] Hiws commented on #5908
This is to be expected since Vue relies on the `input` event when binding `v-model` on custom components.
If you only want the event to fire when it was changed due to user interaction, you should use the `change` event instead.

[2020-10-16 07:01] #5818 closed

[2020-10-16 13:20] mircone opened #5913 "b-modal bounces left right when used with toggleable areas that make it bigger than the vertical viewport"
Hey guys, I'm building a modal with toggleable areas. When the modal gets bigger than the viewport on the right side the scrollbar appears. Directly after this padding-left is applied. That causes that the modal first jumps to the left and then beacause of the padding-left back in position.

Is there a way to prevent that bouncy movement? It feels like there is a transition or something on it. My

[2020-10-16 13:34] jinniw43805 opened #5915 "Question: Adding prop in <b-table> scope"
Is any possible we can have other props in b-table scoped slot?

I checked the document for [scoped slot in b-table](https://bootstrap-vue.org/docs/components/table#comp-ref-b-table-slots), but not able to use the additional prop in some other scoped slot

For example:

The cell({key} slot has following props:

- index

- item

- value

- **_unformatted_**

What if we want to have the **_unformatt

[2020-10-16 13:35] jinniw43805 commented on #5915
Sorry I forget to put the question label on this question

[2020-10-16 13:48] TitanFighter opened #5916 "Eslint: Custom event name 'bv::toggle::collapse' must be kebab-case vue/custom-event-name-casing"
### Describe the bug
I updated `eslint-plugin-vue` from v6.2.2 to [v7.0.0](https://github.com/vuejs/eslint-plugin-vue/releases/tag/v7.0.0) and found that the new version adds a new rule `vue/custom-event-name-casing` which does not like such names as `bv::toggle::collapse`, so from the box I see errors in the code, such as:

[code]

[Here](https://eslint.vuejs.org/rules/custom-event-name-casing.ht

[2020-10-16 14:28] Hiws commented on #5915
There's no such prob because the `row-details` slot isn't for a specific field. So there's no `value` or `unformatted` value to fetch.
Instead access the field/property you need directly from the `item`, which you can find in the slot scope.

[2020-10-16 16:25] lazabogdan commented on #5759
Just bumped into this as well. The solution seems very simple though. Not sure if it has other implications, however in the 30 seconds I tested this with a pretty complex UI, it seems that inertia does intercept all links.

**RouterLink.vue**

[code]

**app.js**

[code]

[2020-10-16 16:43] jinniw43805 commented on #5915
Thank you

[2020-10-16 17:08] jackmu95 commented on #5913
@mircone Can you please provide a minimal demo of what exactly you want to archive and what the issue is.

[2020-10-16 17:11] jackmu95 commented on #5916
This will be resolved with v2.18.0 which will be released this weekend.

Closed by #5844.

[2020-10-16 21:48] #5915 closed

[2020-10-17 11:10] mangrove108 commented on #5867
hey there @Hiws yes thanks that works too, but i had to use animate.css with three different classes to use.
But could solve it with this:

` hoverPaginate() {
            if(process.client) {
               this.$nextTick(function () {
                  const animateItems = document.getElementsByClassName("animate-paginate");

                  [].forEach.call(animateItems, a => {

[2020-10-17 16:07] MalvinJay commented on #3540
Getting the same error. Any solution yet?

[2020-10-17 20:28] #5567 closed

[2020-10-17 20:28] #5563 closed

[2020-10-17 20:28] #5484 closed

[2020-10-18 03:13] ccsaposs opened #5918 "Legend on form radio button group not accessible to screen reader"
### Describe the bug

The label for a b-form-group containing a b-form-radio-group is not accessible to the ChromeVox screen reader.  Instead of reading the label, ChromeVox reads "Radio button group".

### Steps to reproduce the bug

1. Activate ChromeVox (Ctrl+Alt+Z)
2. Go to https://bootstrap-vue.org/docs/components/form-radio#grouped-radios
3. Use the tab key to select the radio button group
4

[2020-10-18 08:55] stroggfaer opened #5919 "Tooltips no template"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://getbootstrap.com/docs/4.0/components/tooltips/

### Additional context or description

Problem parameter not working: template

![image](https://user-images.githubusercontent.com/1355

[2020-10-18 10:27] jackmu95 commented on #5919
@stroggfaer You are referring to the Bootstrap documentation and not the BootstrapVue docs.

[2020-10-18 10:27] #5919 closed

[2020-10-18 14:29] louisThomann opened #5920 "Import of Bootstrap and BootstrapVue scss misspell"
### Documentation issue

- [x] Reporting a typo
- [ ] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://bootstrap-vue.org/docs#using-module-bundlers

### Additional context or description

In the alternative way to import Bootstrap and BootstrapVue scss, it's written to import:
[code]
T

[2020-10-19 00:22] ngoclx commented on #5893
Sorry guys, it was actually a bug from flexsearch plugin of gridsome. I'll be closing this tiket!

[2020-10-19 00:22] #5893 closed

[2020-10-19 06:23] #5920 closed

[2020-10-19 11:14] TitanFighter commented on #5916
@jackmu95 I installed 2.18 and still see this issue. Any ideas?

[2020-10-19 13:44] essenmitsosse opened #5927 "Router links in history mode completely broken since v2.18.0"
### Describe the bug

Since upgrading to v2.18.0 router links in history mode seem to be completely broken, since they don't generate the correct HTML anymore — the href-attribute is just "#" no matter what the router link target is. Clicking the links still works though.

### Steps to reproduce the bug

- activate history mode for router

[code]

The produced HTML:
[code]

### Expected behavior

[2020-10-19 13:55] Locksam commented on #5927
Same.
After 2.18.0 all `<b-link :to={name:  RouteName}>` generate `<a href="#">`
`<router-link>` works fine.

[2020-10-19 14:17] U3R1YXJ0 commented on #5927
Confirmed with my application too. The bug effects all components that utilize router-link, including b-dropdown-item where 'to' field is specified.

[2020-10-19 21:36] G-IV commented on #5842
I reread this a couple times because I was a little confused -> the sticky header takes a "{n}px" argument and uses it as a max-height property.

From your screenshots, it looks like you are using a modal window.  I have a working modal window with a scrolling table set up (you can see the options I used below my answer).  I am using Vue, there may be some translation needed if you are using a dif

[2020-10-20 08:18] bruceCzK commented on #5927
Yes, also the `<base>` tag is been ignored.
For example, if you have `<base href="/dashboard/">` in head, `<router-link to="/">` produces `<a href="/">` instead of `<a href="/dashboard/">`

[2020-10-20 13:12] AlexanderWesten opened #5929 "Dropdown's boundary="viewport" won't work inside scroll-able cards/elements"
First of all; thanks for the great framework. I do appreciate all the great work and support for the community!

### Describe the bug

I've placed a`b-dropdown` in different scroll-able elements (such as a card or a custom-sidebar) and I don't get the dropdown to be displayed outside the scroll-able container. I'm using `boundary="viewport"` and it's still won't work in most cases as demonstrated

[2020-10-20 13:22] jaylittle commented on #5927
Holy Hell - I just banged my head on this for the last hour wondering what I broke and got the bright idea that it might be this library and lo and behold here you are.  Thank you all so much for verifying to me that I haven't completely lost my marbles yet!

[2020-10-20 14:45] Axolotle opened #5930 "BFormGroup doesn't add an id on description/valid-feedback/invalid-feedback slots"
### Describe the bug

Hi, b-form-group doesn't add ids to its slots except for `label`. I managed to get one on an slotted `invalid-feedback` but i can't figure it out how.
Therefore `<fieldset>`'s `aria-describedby` isn't updated either and screen readers can't read it.

### Steps to reproduce the bug

1. Go to [https://codesandbox.io/s/03tt4](https://codesandbox.io/s/03tt4)
4. Check ids on the d

[2020-10-20 22:44] ccsaposs commented on #5918
@jackmu95 Thank you for taking a look at this so quickly!

Can I ask what the reason for removing the bug label was?

I have practically zero experience with accessibility/screen readers, so I apologize if there's something I'm missing.  It appears to me that bootstrap-vue's current accessibility markup for radio button groups is invalid--is that understanding correct?

Thank you for your time.

[2020-10-21 04:28] zaggy commented on #5196
Hi, is there any possibility to contribute to vue 3 support? I really would like to help with this.

[2020-10-21 07:33] jackmu95 commented on #5929
@AlexanderWesten The problem is that `<b-card>` ist relative positioned.
Applying the `position-static` class resolves the issue.

[2020-10-21 09:01] wenfangdu opened #5932 "Tree table support"
Tree table support like [this one](https://element.eleme.cn/#/en-US/component/table#tree-data-and-lazy-mode) would be nice. I didn't find a builtin solution, is there any workaround to achieve this?
![image](https://user-images.githubusercontent.com/28700378/96697880-00eac800-13bf-11eb-9996-6510b04e02ac.png)

[2020-10-21 09:41] AlexanderWesten commented on #5929
@jackmu95 Thanks Jakob, applying `position-stating` on `<b-card>` worked well.

If there are other relative positioned elements between the `<b-dropdown>` and the `<b-card>`  you need to eliminate the relative positioning for those elements as well.

I've updated the Demo with the suggested working solution:
https://jsfiddle.net/beqop3hk/

[2020-10-21 09:41] #5929 closed

[2020-10-21 15:14] bbugh opened #5937 "Contrary to the docs, registering b-avatar icon to local component does not allow it to appear in the avatar"
### Describe the bug

The [documentation](https://bootstrap-vue.org/docs/components/avatar/#icon-content) (under Icon Content -> Notes) states:

The bold part does not seem to be the case. When registering an icon with `components: { BIconBuilding }` in the component where `b-avatar icon="building"` is used, no icon appears.

It does works when using `Vue.component('BIconBuilding', BIconBuilding)`

[2020-10-21 15:27] vsirghii commented on #5842
Thanks George for your answer!
Yes, I also use Vue. Sorry for the confusion I brought here. In short, to clarify my question. I understand that sticky header takes a
 "{n}px" as a max-height css property. And that's exactly the problem, because max-height makes the table height either too short on longer screens, or it  scrolls up the header on screens that are shorter than the table's max-height

[2020-10-21 16:11] jackmu95 commented on #5937
@bbugh @Hiws I've looked further into this and the problem is how `<b-icon>` looks up local components.
It assumes they are registered on the `$parent`.

Since `<b-avatar>` uses `<b-icon>`, `<b-icon>`'s parent is `<b-avatar>` and not the component where you use `<b-avatar>` where the icon component is registered.
https://codesandbox.io/s/interesting-khorana-jjck2?file=/App.vue

I will look into we

[2020-10-21 18:16] #5930 closed

[2020-10-21 18:22] #5927 closed

[2020-10-21 18:39] #5937 closed

[2020-10-21 19:52] enix-app opened #5942 "Simple show or hide column."
There are no simple ways to show/hide a specific column.

I think the solution possible to add field property like this:

[code]

I just change the ``hidden`` props value, then Bootstrap-Vue table do with that.

Other way I've found, just remove specific item. But, more tricky to save the item props if we want to show it again.

Or set in as table property as my imagine:

[code]

Finally, I can pl

[2020-10-21 20:13] Hiws commented on #5942
You can also use a computed property in combination with a boolean on your fields.
<https://github.com/bootstrap-vue/bootstrap-vue/issues/5315#issuecomment-625075845>

[2020-10-21 20:19] bbugh opened #5943 "b-dropdown-item-button has inconsistent styling with b-dropdown-item in Chromium browsers"
### Describe the bug

In Chromium, `b-dropdown-item-button` shows a border when clicked (on `:focus`), but `b-dropdown-item` doesn't.

<img width="421" alt="image" src="https://user-images.githubusercontent.com/438465/96776425-a34e7f80-13ae-11eb-8d57-3da77700e39b.png">

(Backgrounds are lightened to show the border effect)

`b-dropdown-item-button` seems to be picking up the `button` `outline: -we

[2020-10-21 20:26] mircone commented on #5913
Sure, I created a fiddle with it:
https://jsfiddle.net/mircone/7w5x6yde/

When you open the modal and click one or two of the collapse buttons (depending on your viewport size) you will see the modal bouncing left right when the collapse goes over the view port. It would be nice if the modal would stay in middle of the view without that movement.

[2020-10-21 21:06] enix-app commented on #5942
Looks easy, thank you.

[2020-10-21 22:19] Hiws commented on #5943
This behavior looks to be is the same as with native Bootstrap.
<https://getbootstrap.com/docs/4.5/components/dropdowns/#menu-items>
<https://v5.getbootstrap.com/docs/5.0/components/dropdowns/#menu-items>

So I don't think we should change this behavior here, as this is more of an upstream issue.
You could try suggesting it on Bootstrap's GitHub.
<https://github.com/twbs/bootstrap/issues>

[2020-10-21 23:50] bbugh commented on #5937
I upgrade to the new version, it works great. Thanks for such a fast fix!

[2020-10-21 23:59] bbugh commented on #5943
Looks like you're right. I thought I checked it in upstream bootstrap, but it's not impossible that while juggling a bunch of browsers I looked at it in Firefox by accident and thought it was fine.

It looks like @tmorehouse has brought this same issue up a few times on bootstrap's repo. https://github.com/twbs/bootstrap/issues/23329#issuecomment-331238806 and https://github.com/twbs/bootstrap/pul

[2020-10-22 02:21] rodhoward opened #5946 "[BootstrapVue warn]: observeDom: Requires MutationObserver support."
### Describe the bug
We are unit testing our Vue components using jest and vue-test-utils.  And we are getting hundreds of warnings:
[code]

Our test code is something like:
[code]

### Steps to reproduce the bug

code similar to above and run your tests.

### Expected behavior

No scrolling through warning messages.

### Versions

**Libraries:**
"vue": "^2.5.21",
"@vue/test-utils": "^1.0.0-beta.3

[2020-10-22 07:42] Hiws commented on #5927
`v2.18.1` which was released yesterday should've resolved the issue, can any of you confirm if that is the case?

[2020-10-22 08:07] johnkarpn commented on #5927
Yes, the fixes solved the problem, thank you!

[2020-10-22 09:43] Axolotle commented on #5930
Awesome, thanks!

[2020-10-22 10:59] dbbert opened #5947 "b-form-tags does not emit focus and blur events"
### Describe the bug

The `b-form-tags` element does not emit focus and blur events.

### Steps to reproduce the bug

`<b-form-tags  v-model="myModel" @focus.native="doSomething" @blur.native="doSomething"></b-form-tags>`

### Expected behavior

The function doSomething is triggered when the element gets and loses focus.

### Versions

**Libraries:**

- BootstrapVue: 2.17.3
- Bootstrap: 4.5.2
- Vu

[2020-10-22 13:33] realnot commented on #5507
Please, keep in mind that several developers which run enterprise application won't switch to Vue 3 due to lack of plugins not ready for vue 3 itself, but they wish to benefit of bootstrap 5 improvements.

[2020-10-22 13:44] Hiws commented on #5507
We are looking into supporting both Vue 2 and Vue 3 with the Bootstrap 3 release by utilizing https://github.com/antfu/vue-demi which looks pretty promising.
Which should hopefully mean we can end up on a version that will support both Vue 2/3 + Bootstrap 5.

[2020-10-22 18:56] adholland opened #5949 "Keep alive for toast"
### Describe the issue

I would like to know how I could keep a toast alive. The toast I have created has an auto-hide-delay set, as I'd like the user to not have a close it by default. However it is hard to gauge how long to set the toast for as its to show progress, so there have been times when the toast has disappeared before the progress has completed.

What I'd like is that once the progress

[2020-10-22 19:37] Samtronic opened #5950 "TimePicker more than 23 hours"
Is it possible to set the hours more than 23. I use the timepicker to know the number of working hours.

Thanks
Steven

[2020-10-22 21:06] AlexcastroDev commented on #1194
Yes, its easy!

in your b-form-input, set @focus="checkMask(id, mask)"

create this method and Voialá!

[code]

[2020-10-23 02:08] #5530 closed

[2020-10-23 02:08] #5550 closed

[2020-10-23 02:08] #5517 closed

[2020-10-23 02:08] #5522 closed

[2020-10-23 02:08] #5571 closed

[2020-10-23 02:08] #5572 closed

[2020-10-23 03:17] wenfangdu opened #5954 "Automatic tree shaking support"
Currently, bootstrap-vue supports manual tree shaking, automatic tree shaking support like [this one](https://vuetifyjs.com/en/features/treeshaking) would be nice.

[2020-10-23 04:14] DebaPrasad14 opened #5955 "Is there any way to show message on hover of disabled dates in form date picker?"
I am using bootstrap-vue quite sometime but couldn't find a way to add some message on the disabled dates on hover over them in form date picker. Even there is no documentation if we can do.
Can anyone suggest any way we can do that?
I want something like below image.
![image](https://user-images.githubusercontent.com/30753467/96956110-e9255800-1514-11eb-8f71-67bbc5f667a0.png)

@vizo  @mathlet0x @

[2020-10-23 06:04] Hiws commented on #5954
This is currently not something we support, but someone has made a 3rd party loader which aims to do this.
<https://www.npmjs.com/package/bootstrap-vue-loader>

[2020-10-23 08:24] Hiws commented on #5950
This is not possible, and not quite what the timepicker component is meant for.

Perhaps `<b-form-spinbutton>` is more of what you need.
<https://bootstrap-vue.org/docs/components/form-spinbutton#min-max-and-step>

[2020-10-23 08:27] Hiws commented on #5949
I think your best bet would be to set `no-auto-hide` on the toast and then handle hiding the toast yourself once the progress is finished.´

[code]

[2020-10-23 11:52] Samtronic commented on #5950
Thank you for the link I will use this component.

[2020-10-23 11:59] #5950 closed

[2020-10-23 15:45] adholland commented on #5949
@Hiws Thanks for the help. I should have thought of that - but much appreciated.

[2020-10-23 15:45] #5949 closed

[2020-10-23 18:40] vincentdh opened #5958 "Enhancement: More settings for BModal"
### Is your feature request related to a problem? Please describe...

Lots of BModal props are not globally configurable with the settings.  This result in lots of repeating code if, in example, you don't want the modal to be closed on backdrop click in your application.

### Describe the solution you'd like

Add the following properties to the BModal Settings:
* centered
* scrollable
* button-siz

[2020-10-23 19:09] cvn commented on #2660
I came up with a CSS solution.

[code]
[code]

Or, when I want a textarea to show up as one line by default, but grow when focused, I use a static css class:

[code]

[2020-10-23 19:32] pouyakondori opened #5960 "Vertical alignment in b-card for button"
Hello, for vertical aligning in cards like the [image](https://i.stack.imgur.com/IGN7K.png), these lines should work:
Add `d-flex` to `.card-body`
Add `flex-column` to `.card-body`
Add `mt-auto` to `.btn nested` in `.card-body`

but these classes, don't work in bootstrap-vue. Is there any way to make the button vertically aligned in the footer of each card?

[2020-10-23 22:18] bbugh opened #5962 "b-avatar doesn't always maintain fixed width with long cell content"
### Describe the bug

In a table cell (possibly other things), the avatar can be squished if the flex content is too long.

<img width="359" alt="image" src="https://user-images.githubusercontent.com/438465/97057415-c3b63f80-1550-11eb-81d7-b260769647df.png">

### Steps to reproduce the bug

Not sure of all the reproduction steps, but a BAvatar + text inside of a flex element can squash the avatar.

[2020-10-24 11:06] Hiws commented on #5960
I'm not sure what you mean with it not working.
As the classes and placement works as you say it should.
<https://codepen.io/Hiws/pen/JjKEZKg>

You will need to post your code if it still doesn't work.

[2020-10-24 17:40] pouyakondori commented on #5960
Thank you. It was needed to add : `body-class="d-flex flex-column"` in `b-card` .
Solved.

[2020-10-24 17:40] #5960 closed

[2020-10-25 11:02] jackmu95 commented on #5958
@vincentdh The problem with adding all those additional props to the global config is that it boats the bundle quite a bit since the default config can't be minified.

We have to rethink the global settings implementation in BootstrapVue v3 anyway, so I would put this on hold for that.

[2020-10-25 11:07] #5962 closed

[2020-10-25 16:08] Eplistical opened #5964 "b-avatar with badge in a sticky-header b-table is show incorrectly"
### Describe the bug

If a b-avatar with badge is shown in a b-table with sticky header, and one scrolls down the table, the badge will be displayed on the b-table header layer

### Steps to reproduce the bug

1. Go to https://jsfiddle.net/62r8aghw/
2. Scroll down the table
3. Badges are displayed over the header

### Expected behavior

badges should be invisible when its row is behind table heade

[2020-10-25 16:29] michaelzangl commented on #5196
@jackmu95 Do you already have a general roadmap on what needs to be done?

For Bootstrap 5 support: I think that if an app does the step of migrating all their UI styles to Bootstrap 5, they can do the same for vue. And most popular plugins will be available for vue soon.

[2020-10-25 16:45] ux-engineer commented on #5196
@michaelzangl Bootstrap 5 support will be an another major version (with a complete rewrite of this library), unrelated to Vue 3 support that should be arriving soonish (hope not Blizzard's soon-ish™).

As Jack posted earlier:

BootstrapVue v3:

- Based on BootstrapVue 2.17.0
- Vue.js v3 support
- Bootstrap v4.x support
- Release: Short after Vue.js v3 release

BootstrapVue v4:

- Complete rewrite

[2020-10-25 17:30] michaelzangl commented on #5196
@ux-engineer  I was interested in a more detailed timeline to contribute.

[2020-10-25 17:55] jackmu95 commented on #5196
I'am currently in the process of prototyping a Vue 3 compatible build of BootstrapVue that also supports Vue 2.
A single codebase for Vue 2 and 3 would be awesome to support users that have to stick for Vue 2 for a while.

This is (or could be) possible by [vue-demi](https://github.com/antfu/vue-demi).
I already have some components working but there are some major challenges to tackle (global eve

[2020-10-25 20:25] ux-engineer commented on #5196
@jackmu95 I presume the upcoming complete rewrite is going to be done in TypeScript?

[2020-10-25 20:51] jackmu95 commented on #5196
Exactly.

[2020-10-26 08:35] DebaPrasad14 commented on #5955
@vizo @mathlet0x @jackmu95 @tmorehouse @pi0 @alexsasharegan @mosinve is there any update ?

[2020-10-26 09:28] jackmu95 commented on #5955
@DabeDotCom First of all, please stop pinging multiple users here directly.
We see the issues and handle them when we have time.

What you want to do is currently not possible.
It would require a slot for the day.

[2020-10-26 11:09] DebaPrasad14 commented on #5955
Hey, @jackmu95 I tagged as no one responded last 3 days. And I asked if it is achievable in the current version or not, it's so simple, I didn't ask to do it now.
Anyway thanks.

[2020-10-26 11:09] #5955 closed

[2020-10-26 18:31] sebastian-raubach opened #5968 "Get specific row and column (or cell) dimensions"
I was wondering if there's currently any way to get the height of a specific row and the width of a specific column. The dimensions of a specific cell would work as well.

I'm trying to position an element at a certain percentage in the x and y dimension on top of the table. I've gotten as far as to show it at x% and y% of the whole table height and width, but I'd like to be able to exclude the he

[2020-10-27 07:50] jd-0001 opened #5970 "BSV v3 Suggestions"
### Is your feature request related to a problem? Please describe...

As the library is rewriting I like to give some suggestions which can help in the development process:

* Ability to get setting developer set in BootstrapVue settings [i.e. What is default variant for button]
* Ability to use custom transition/animations [i.e. As I already opened an issue: #5415 ]
* Update variant color at runt

[2020-10-27 09:01] sebastian-raubach commented on #5968
I managed to work around it for now, by just using `document.querySelector()` to get the element I need.

[2020-10-27 12:11] ZameelAmjed commented on #1137
I had to pass the id as a hidden value to the form and the method i found easy was to pass the value from button rather boolean to show modal and it worked!
`<button @click="showModal = {{$order->id}}">Submit</button>`
and use it in template
[code]

[2020-10-27 15:03] jackmu95 commented on #5970
@jd-0001 BootstrapVue v3 will not be a complete rewrite, this will happen with v4 next year.
With v3 we concentrate to bring Vue 3 support to BootstrapVue with as little breaking changes as possible.

[2020-10-27 20:24] kswizzlek opened #5973 "B-table click-outside event handler"
I have been looking for a good way to handle events when you click outside a selected row. Currently when I select a row in b-table I create inputs to modify the content of the row. What I want to do is when I click outside the row I can save and validate the information inside the row.

[2020-10-28 05:48] jd-0001 commented on #5970
Thanks for clarification @jackmu95. Shall I keep this open then?

[2020-10-28 07:04] jackmu95 commented on #5970
@jd-0001 I would prefer if we close this now and start over when v3 is released.

[2020-10-28 07:05] #5970 closed

[2020-10-28 15:56] #5964 closed

[2020-10-29 09:13] jackmu95 commented on #5913
@mircone Can you please provide the following environment information.
I can't reproduce the issue in Chrome on macOS.

**Environment:**

- Device: [e.g. Mac or iPhone X]
- OS: [e.g. macOS Mojave or iOS 12]
- Browser: [e.g. Chrome]
- Version: [e.g. 70]

[2020-10-29 10:11] UncountedBrute2 opened #5980 "Using <keep-alive> in BTable with BPagination"
I have a BTable that can contain a number of rows with a text box in each row. I am trying to use VeeValidate to validate each row but when there are enough rows to go across the pagination, the validation fails due to needing <keep-alive> to keep it in scope.
I have encluded a snippet below which highlights the structure of the table.

Does anyone know how to use `<keep-alive>` within BTable?
[co

[2020-10-29 11:50] Vidhyanandcs commented on #1862
it is `ok-title = "Submit"`

[2020-10-29 14:11] galaxyblur commented on #5627
I am not using any bootstrap icons in my Nuxt project, yet I get this Babel error. Is the icons package being bundled into my app? I can set compact:true as demonstrated above, but is this a red flag that something unexpected is happening?

[2020-10-29 20:26] simonalarie opened #5982 "Navbar : Unclickable specific b-nav-item(s)."
### Describe the bug

When I use a basic **navbar menu** comporting let's say, four items, including a dropdown :

[code]
Any subsequent link (nav-item) to an **opened dropdown** is getting non-fonctional.

### Steps to reproduce the bug
1. Open the dropdown menu item
2. Move to the next link (nav-item) located outside of opened dropdown (here Link-3).
3. Click item.
4. Watch the dropdown close (l

[2020-10-30 10:40] yoshiyes opened #5985 "Input group don't work with vue-class-component"
### Describe the bug

The input tag isn't rendered if the project uses "vue-class-component".

### Steps to reproduce the bug

1. Add Boostrap Vue and Vue-class-component
2. Add input group
3. Transform class to Vue component.
[code]
### Exemple

With vue-class-component :
![image](https://user-images.githubusercontent.com/20050570/97693869-112b3300-1aa2-11eb-86c0-283cca712d49.png)

Without :
![im

[2020-10-30 13:36] dosstx opened #5986 "Dark and light color mode"
Suggest adding a "dark" and "light" color mode component to the BootstrapVue library:

https://user-images.githubusercontent.com/904724/79349768-f09cf080-7f36-11ea-93bb-20fae8c94811.gif

[2020-10-30 21:29] DebaPrasad14 opened #5988 "b-form-select is not working for html fields"
I am trying to use some HTML styling in b-form-select, but unfortunately, that is not working.
It is mentioned to do as below and I tried that but no success. Can anyone suggest how to fix it?
[code]

code pen: https://codepen.io/kkdas202/pen/YzWajoJ?editors=1010

[2020-10-30 22:38] Hiws commented on #5988
If you look in the DOM you should see that the tags are actually rendered, so it's working as intended.
The issue is that most browsers don't support tags inside `<option>` tags, or styling on other than `color` and `background-color`.

I do question why this option is even available in the first place, since it seems fairly useless given the limitations of HTML in `<option>` tags.

[2020-10-31 02:54] DebaPrasad14 commented on #5988
thanks, @Hiws for your clarification but is there any way we can give styles? I can see `color` is also not getting applied.

[2020-10-31 12:29] Hiws commented on #5988
IIRC `color` and `background-color` only works if applied directly to the `<option>`.

[2020-10-31 13:22] DebaPrasad14 commented on #5988
I want some of my test to be in blue and some are in red. Can we do it? I
want to do it in one option

Like <option><red text><blue text></option>

On Sat, 31 Oct, 2020, 5:59 pm Hiws, <notifications@github.com> wrote:

[2020-10-31 13:31] Hiws commented on #5988
I don't think that's possible.

[2020-11-01 07:33] euoia commented on #873
In case anyone else comes across this thread, I made a codepen showing `b-table-simple` working with `Vue.draggable`.
https://codepen.io/picklebone/project/editor/ZnGkaa#

[2020-11-01 13:30] careerdimasprayoga commented on #1805
Thank you. I'ts work

[2020-11-01 16:20] #5595 closed

[2020-11-01 16:20] #5599 closed

[2020-11-02 08:36] slaweet opened #5994 "Add `skeleton-rows` prop to `b-table` component"
### Is your feature request related to a problem? Please describe...

I recently tried to use `b-skeleton-table`. It's pretty cool in for the initial data load, but not as nice in the "Load more" scenario. The problem is that `b-skeleton-table` is a separate table, so the column widths aren't nicely aligned with column widths of the table with real data. See screenshot at the bottom.

### Describe

[2020-11-02 10:44] mircone commented on #5913
Environment:

    Device: [Windows PC]
    OS: [Windows 10]
    Browser: [Chrome]
    Version: [Version 86.0.4240.111 (Offizieller Build) (64-Bit)]

[2020-11-02 12:26] jackmu95 commented on #5913
@Hiws Can you confirm the described behavior on Windows?

[2020-11-02 12:38] Hiws commented on #5913
@jackmu95 Yes, I think I see the issue.
You can see in the below gif that the modal is first pushed left, and then back to the right shortly after.
![kYRbWWXXKj](https://user-images.githubusercontent.com/7057431/97868673-67051280-1d10-11eb-8a78-bf4580d4d7db.gif)

This happens because the scrollbar first appears, pushing it left, and then shortly after a `padding-left: 17px` is added to the 2nd out

[2020-11-02 12:43] jackmu95 commented on #5913
@Hiws Thanks for the video.
This doesn't happen on macOS.

[2020-11-02 12:52] jackmu95 commented on #5985
I've created CodeSandbox and it works as expected:
https://codesandbox.io/s/gifted-water-ys5q5?file=/App.vue

[2020-11-02 13:06] jackmu95 commented on #5982
@simonalarie Could you please create a minimal live demo of the issue?

[2020-11-02 13:34] mircone commented on #5913
With which tool did you create the gif @Hiws? I was on the way to provide one to, but endet with a gif of 20mb via MiniTool MovieMaker.

[2020-11-02 13:41] Hiws commented on #5913
I use ShareX.

[2020-11-02 14:06] MechJosh0 opened #5998 "Documentation: Providing incorrect advice about limitations"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://bootstrap-vue.org/docs/components/form-group#feedback-limitations

### Additional context or description

Unless I'm reading the documentation wrong, I believe the above section is in

[2020-11-02 14:56] Hiws commented on #5998
That's because you're using `<b-form-input>`, which isn't mentioned in the note, and you're also not using the invalid/valid feedback in your example.

You can see the difference here: <https://codesandbox.io/s/goofy-breeze-iwyi1?file=/App.vue>

Notice how the `Thank you!` and `Please select something!` doesn't show up when only setting `state` on the `<b-form-radio>`, but it does show up when you

[2020-11-02 15:09] MechJosh0 commented on #5998
@Hiws Ah I see, I'm using `b-form-input` to handle the `state`, but the documentation is referring to using `b-form-group` state and feedback attributes. Thanks for clarifying.

[2020-11-02 15:09] #5998 closed

[2020-11-02 16:30] ghost opened #6000 "Feature request: add label for tabs"
### Is your feature request related to a problem? Please describe...

Trying to add accessible label for tab titles

### Describe the solution you'd like

Attribute for `<b-tabs>` that adds an accessible label (using `<fieldset>` and `<legend>`)

### Describe alternatives you've considered

I tried manually adding `<fieldset>` and `<legend>` tags, but I can only apply them to the entire tab elemen

[2020-11-02 16:41] ccsaposs commented on #5918
A possible solution:

Add `aria-labelledby` to the element with `role="group"`
Using the bootstrap-vue website HTML above as an example, change from
[code]
to
[code]

Source: https://www.w3.org/WAI/tutorials/forms/grouping/

[2020-11-02 18:02] simonalarie commented on #5982
@jackmu95

Thanks for your ideas.

https://jsfiddle.net/SiMMA/jt61r4gw/

[2020-11-04 03:32] fifzteen opened #6005 "b-fom-checkbox chenge event fires before update v-model"
On document of b-form-checkbox, the difference of "input" and "change" is just fires due to user interaction or not.
but 'input' event fires **after** updated v-model value and 'change' event fires **before** updating v-model.
I hope 'input' and 'change' events fires same timing. **after** updated v-model.

Sample is here.
https://codepen.io/fifzteen/pen/abZKaKV

[2020-11-04 09:28] magical-l opened #6007 "select the Checkbox/Radio when click on the gap between the Label and the Checkbox/Radio"
When the b-form-checkbox(or the b-form-radio) rendered, there is a gap between the `<input type=checkbox>` and the `<label>`for it.
If we click on the gap, nothing will happen.
Can we make that 'gap' as a part of the `<label>`, so that we can have a wider space to select the `<input>`?

[2020-11-04 09:29] jackmu95 commented on #5918
@ccsaposs Can you please confirm that the issue is fixed in this deployment preview of the fix:
https://bootstrap-vue-git-fix-form-group-fieldset-accessibility.bootstrap-vue.vercel.app/docs/components/form-radio#grouped-radios

[2020-11-04 09:35] jackmu95 commented on #6007
This issue/question is related to Bootstrap directly since BootstrapVue uses their styles directly.

[2020-11-04 09:45] Hiws commented on #6007
Doesn't look like this is something they're going to change.
<https://github.com/twbs/bootstrap/issues/30535>

[2020-11-04 15:51] #6005 closed

[2020-11-04 16:05] #5918 closed

[2020-11-04 16:56] ccsaposs commented on #5918
Looks good!  Thank you for fixing this!

[2020-11-05 08:08] #5982 closed

[2020-11-05 14:14] wvh commented on #1137
Looking back at this a few years on, while I did just start to understand the data versus imperative approach, my confusion was caused by my data being a deeply nested tree and not figuring out how to get the view (modal) pointing to the right path inside that tree. With other words, I wanted the modal to take a pointer to dynamically point inside the data, because I didn't have a fixed variable t

[2020-11-05 21:54] ricktate opened #6020 "Add Icons to Placeholder text in Input Fields (Need Search Icon in Search Input)"
### Is your feature request related to a problem? Please describe...
I would like to display a search icon within the placeholder text of my search input field. This creates a visual representation for users to quickly interpret what the field does.

### Describe alternatives you've considered
We've added a disabled button with a search icon. Takes up space and has a negative impact of users somet

[2020-11-06 08:56] bonesoul commented on #5196
looking for this also.

[2020-11-06 10:36] Hiws commented on #6020
You can't do this directly using the standard `placeholder` attribute as it does not support HTML.
You will instead need to position the icon on top of the input with `position: absolute`.

You can do this fairly easily using just utility classes. You could also implement the [Floating Label](https://getbootstrap.com/docs/4.5/examples/floating-labels/) example, which uses the same logic of placing

[2020-11-06 10:39] Hiws commented on #6020
You could also use [Input Groups](https://bootstrap-vue.org/docs/components/input-group) and prepend/append the icon.

[2020-11-06 16:46] bbugh commented on #5962
@talkor thanks for the fix in `flex`. This isn't working in `grid` display contexts when the avatar would overflow a `display: grid`. Example:

<img width="107" alt="image" src="https://user-images.githubusercontent.com/438465/98391606-78099880-201c-11eb-8607-63bc33ad482e.png">

@jackmu95 can you reopen this or should I make a new issue?

It seems like using `min-width/height` and `max-width/heigh

[2020-11-06 19:16] TimofeyBiryukov commented on #4774
Tried @ashwinkshenoy solution, but that doesn't seam work. No simple solution to this simple problem so far.

[2020-11-06 19:45] TimofeyBiryukov commented on #4774
There actually was a limited debugging offered for errors in plugins and my code had an error in it. Due to this it didn't work when I tried. It looks like you can do this via $nuxt available in the plugins:

[code]

[2020-11-07 03:14] mehmetpolat opened #6023 "modal-backdrop slot content z-index problem"
Hi

I'm using the modal-backdrop slot for the modal, but I have a z-index problem with the items I add to the content

how can i handle it?

`<b-modal
      centered
      hide-header
      hide-footer
      no-close-on-backdrop
      id="modal-1"
      title="BootstrapVue"

      <div class="test text-danger">Ahmet</div>
      <p class="my-4">Hello from modal!</p>
      <div slot="modal-title">as

[2020-11-07 08:36] #4507 closed

[2020-11-07 08:36] #5138 closed

[2020-11-07 08:36] #5958 closed

[2020-11-07 18:27] Hiws commented on #6023
I don't quite understand the issue you're having.
Could you describe what the issue is, and what you're trying to do?

[2020-11-07 20:22] andrei-gheorghiu commented on #5196
Not trying to put any pressure whatsoever.

But it would be quite helpful to have a rough estimate on when a Vue 3 compatible version of BootstrapVue is to be expected.
This would allow teams to take decisions on new projects: stick with Vue 2, look for alternatives, etc...

My main point here is: not providing an estimate is equivalent to declaring:

I believe any estimation would be better than

[2020-11-07 21:18] #5018 closed

[2020-11-08 03:02] yasirhantoush opened #6024 "bootstrap-vue@2.18.1"
### Describe the bug

using b-input-group from examples does not work on the specified version,
it showsinvalid undefined

<div>

  <b-input-group size="lg" prepend="$" append=".00">
    <b-form-input></b-form-input>
  </b-input-group>

  <b-input-group class="mt-3">
    <template #append>
      <b-input-group-text><strong class="text-danger">!</strong></b-input-group-text>
    </template>
    <b-

[2020-11-08 08:56] jackmu95 commented on #5196
Our goal is to have it ready by the end of the year.

You have to keep in mind that there is a hole ecosystem of libraries behind developing such a project that needs to be Vue 3 ready to do proper testing and documentation. Some of them are still in beta or in RC phase.

[2020-11-08 09:04] jackmu95 commented on #6024
@yasirhantoush I can't confirm what you describe on Opera v72 on macOS Mojave.
Can you please share a screenshot with the error and create a demo on CodeSandbox or CodePen?

<img width="1502" alt="Bildschirmfoto 2020-11-08 um 10 01 35" src="https://user-images.githubusercontent.com/2737132/98461094-bed8c900-21a9-11eb-91bd-3c8d6c0ab5e2.png">

[2020-11-08 09:11] jackmu95 commented on #5962
@bbugh Adding a `min-width: 0` to the `<b-avatar>` should fix the issue.
Would you mind creating a new issue with a new example?

[2020-11-08 09:12] hassan-jahan commented on #5627
I confirm `icons.js` is included in the bundle whether you set` icons:false` or not.

Check out by: `yarn run build -a`

[2020-11-08 10:31] jackmu95 commented on #5627
@hassan-jahan I re-checked several config combinations and for me it is all working as expected.
If you can come up with a minimal reproduction feel free to raise a new issue.

To make this clear for all again here; the Babel note about the `icons.js` file is shown all the time when using the `bootstrap-vue/nuxt` module. But that doesn't mean that the icons are included in the production bundle.

[2020-11-08 11:23] hassan-jahan commented on #5627
@jackmu95 I'm not worried about that note itself but the actual bundle size.

Please check it out here:
https://github.com/hassan-jahan/nuxt-vue-bootstrap-starter

This is a bare Nuxt project created by `yarn create nuxt-app` Try `yarn run build -a` and uncomment nuxt.config.js

[2020-11-08 12:00] jackmu95 commented on #5627
@hassan-jahan I checked out your example project and it works as it should.
As our documentation states [here](https://bootstrap-vue.org/docs#icons) are icons only opt-in and not included by default.

Bundle size with no `bootstrapVue` Nuxt.js config:
<img width="809" alt="Bildschirmfoto 2020-11-08 um 12 53 43" src="https://user-images.githubusercontent.com/2737132/98464290-24d14a80-21c2-11eb-9113

[2020-11-08 12:46] TomSmith27 commented on #5196
As an avid user of BootstrapVue, I am very keen to see this get moved to Vue3 so I can continue to use it for newer projects.
How can I get involved with helping with the development / migration? @jackmu95

[2020-11-08 12:58] jackmu95 commented on #5196
BootstrapVue v2.19.0 with global config support for all component props will land today.
This was the major project @Hiws and I were working on this week.

When I have these changes merged and adapted back into the `v3-dev` branch I will keep you up to date on the current progress and what are the next steps.

[2020-11-08 13:03] hassan-jahan commented on #5627
Thanks @jackmu9 You're right.

It seems we include a small part of icons.js when icons:false which is not a problem.

[2020-11-08 17:33] guilhermeaiolfi commented on #5235
was it published? I couldn't find it. If not, can I see the WIP anywhere?

[2020-11-09 12:14] dmke opened #6029 "Select component with search (like Select2)"
### Is your feature request related to a problem? Please describe...

If the option list for `<select>` elements (i.e. `<b-form-select :options="options" />`) becomes long, users cannot easily find what they want to select. This is especially true if the option list is sorted by value, and not by label text (e.g. with localized labels, but that's easy to overcome).

This is a shortcoming of the Br

[2020-11-09 12:25] dmke commented on #6029
### Addendum

I've found these issues (after creating this one, of course :roll_eyes:) which mention a search/filter functionality.

- #5367 promising this feature in a "near-future release" (May 2020)
- #5235 "in a month-ish" (April 2020)
- #3162 (probably outdated)

It looks like, this feature is on the way. Is there a way to beta-test it?

[2020-11-09 13:55] prempopatia commented on #5868
Any update on above request?

[2020-11-09 15:07] andrei-gheorghiu commented on #5196
Than you very much for the estimation.

I'm well aware of the implications. I don't think Vue 3 will be production ready for at least 6 months from now, everything considered. It's always the last 10% that's most time consuming.
___

That's just awesome!

[2020-11-09 15:27] andrei-gheorghiu opened #6030 "Please provide an example of appending a `.dropdown-menu` to `body` (to allow overflowing a scrollable parent)."
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [x] Documentation feedback

### Is there a specific documentation page you are reporting?

https://bootstrap-vue.org/docs/components/dropdown#advanced-popperjs-configuration

### Additional context or description

I've been trying to append the `.dropdown-menu` to `body` element to

[2020-11-09 16:20] jackmu95 commented on #6030
@andrei-gheorghiu Please take a look at the [boundary constraints](https://bootstrap-vue.org/docs/components/dropdown#boundary-constraint) section of the `<b-dropdown>` docs.

[2020-11-09 16:43] JF0001 opened #6031 "Button Remains Greyed Out after executing document.getElementById('button').removeAttribute('disabled')"
### Describe the bug

I initially set the disabled attribute of a button in the html code upon loading the page as follows:
`<b-button id="button" type="button" disabled="disabled" v-on:click="function()">Button</b-button>`

Afterwards, upon clicking on another button, the following code is triggered in Javascript.
`document.getElementById('button').removeAttribute('disabled')`

The button does be

[2020-11-09 21:13] dosstx opened #6032 "Card Column Groups -- how to get a fluid display of cards ?"
### Describe the bug

I am using `<b-card-group columns>` for a "Pinterest/Masonry" style effect for displaying my cards. Works great -- except I can't figure out how to get more than 3 cards to show in a row for a "fluid"-like display.

Here's what it looks like now:

![image](https://user-images.githubusercontent.com/6342102/98596883-b8c41480-229d-11eb-9fef-36e62fd14ea4.png)

Is there a way I ca

[2020-11-10 00:44] ricktate commented on #6020
Thanks for the suggestion @Hiws. I'll give these a shot.

[2020-11-10 08:51] Hiws commented on #6032
The `card-column` class is hardcoded to 3 columns when above the `sm` breakpoint.
You can make this more dynamic by defining more/lower `column-count` at various breakpoints.

Here's an example using Bootstrap mixins.
[code]

<https://stackoverflow.com/a/43117538/8397974>

[2020-11-10 09:00] Hiws commented on #6031
`<b-button>` does not use the `disabled` attribute, it instead has a `disabled` property which takes a boolean value.
This property adds the `disabled="disabled"` attribute and `disabled` class to the button.

The reason your button remains greyed out is because of the `disabled` class.

You're doing things the "javascript" way by using `document.getElementById('button')`, which isn't recommended,

[2020-11-10 11:29] dosstx commented on #6032
Works great. thank you!

[2020-11-10 11:29] #6032 closed

[2020-11-10 13:28] JF0001 commented on #6031
Thank you Hiws for your answer and detailed explanation. JF

[2020-11-10 13:28] #6031 closed

[2020-11-10 14:36] chumager opened #6034 "b-calendar display only months"
### Is your feature request related to a problem? Please describe...
Feature

Almost all my front end uses bootstrap-vue components, for now I use another datepicker for this reasons.
Be able to pick only months.
Can choose date and time in one component.

I want to change to bootstrap-vue datepicker to decrease maintenance and have a more coherent UI, but for that I need to be able to pick only m

[2020-11-10 19:29] bbugh opened #6035 "Add class selector to b-avatar img tag for custom images in default slot instead of using element selector"
### Is your feature request related to a problem? Please describe...

We need to override b-avatar's `img` tag to add a `loading="lazy"`. Unfortunately, the `img` css in bootstrap-vue uses an element selector as `.b-avatar-img img` rather than a unique class for the image tag, so we have to duplicate the css code.

### Describe the solution you'd like

It would be preferable for it to be a class s

[2020-11-10 19:29] bbugh commented on #6035
I'm happy to PR this if acceptable. For backwards compatibility, I imagine a change like this:

[code]

I don't love the name `b-avatar-img-element` but unfortunately `b-avatar-img` is used for the wrapping element instead of the `img`.

Could also do something like:

[code]

[2020-11-10 20:03] Hiws commented on #6035
You could just wrap the `<img>` in a `<span>` with the class `b-avatar-img`.
Should give the same result, except that there'll be an additional span in the DOM.

[code]

[2020-11-11 10:14] bbugh commented on #6035
Yes, but in the case of `.b-avatar-custom .b-avatar-img img` it's duplicating the outer wrapping code which we can't guarantee won't break in the future and isn't much different than the current workaround we're doing.

One alternative to the proposed change is to allow for specifying the wrapper code, instead of defaulting to `b-avatar-custom`, we could specify `content-class` (or something) whic

[2020-11-11 14:29] ryosukemitake opened #6038 "all of thead-class,table-class,thead-tr-class can't work for custom css class for header"
### Describe the bug

as the demo image shows below, I can change the font size for body, but not header even if I use thead-class,table-class,thead-tr-class in b-table as the doc writes.

### Steps to reproduce the bug

package.json
[code]

[code]

[code]

### Expected behavior

expected to adapt css class to header

### Versions

**Libraries:**

- BootstrapVue: 2.1.5
- nuxt: 2.0.0

**Environment

[2020-11-11 14:39] Hiws commented on #6038
I can't reproduce the problem, can you provide a simple reproduction the problem?

Working example:
<https://codesandbox.io/s/brave-hooks-65nor?file=/App.vue>

[2020-11-11 14:46] ryosukemitake commented on #6038
<img width="984" alt="スクリーンショット 2020-11-11 23 44 02" src="https://user-images.githubusercontent.com/55892311/98825414-ca611400-2477-11eb-8086-9e53f9c04bd6.png">

I copied the example into my code, and the the font size are different in header and body.
I use templet  which use bootstrap. it might be a reason.
I'm gonna check it. thanks

[2020-11-11 15:22] ryosukemitake commented on #6038
sorry I solved the issue by myself. as i mentioned above, the scss of the templete was the reason. I changed that and it did work!
thansk

[2020-11-11 16:11] #6038 closed

[2020-11-12 03:51] magical-l opened #6039 "change icons with postfix 'fll' to 'fill'"
there are some icons with a postfix 'fll' in their names, such as 'patch-check-fll', 'patch-exclamation-fll', 'patch-minus-fll', 'patch-plus-fll', 'patch-question-fll', while other icons using 'fill'.
why they are not in the same form?
could we change the 'fll' postfix to 'fill' for normalization?

[2020-11-12 08:09] Hiws commented on #6039
We're getting the icons (and names) from the Bootstrap Icons package, as you'll have to open an issue over there.

<https://github.com/twbs/icons>

[2020-11-12 13:04] TuringJest commented on #3765
@tmorehouse That would be a really useful feature. Is there any process on this?
I'm looking for a way to restrict button actions to logged in users. If not logged in, open a login modal check the response and return it, so the button action can be finally called.

Is there anyway I can achieve this with the msgBox by manually triggering the returned promise for ok/cancel (and hiding the default b

[2020-11-12 19:43] xtenpeben commented on #2068
Any news on this feature?

[2020-11-13 13:05] funkyfisch commented on #5842
@vsirghii

Providing other css max-height values will not help the problem AFAIK, since then you have to delegate the code stating the height in pixels into the container of the table.
For example:

[code]

So setting the table to 100% wouldn't do anything if the parent container has no hard-defined height, or if its container in turn has no hard-defined height.

I am working on  a similar problem

[2020-11-13 14:54] funkyfisch opened #6045 "overflow-y tbody, not whole table"
### Is your feature request related to a problem? Please describe...

When creating a fixed-size table with sticky headers, the content is of course overflowed vertically. However, what is actually overflowed is the entire table, not the table body, and the header just happens to stay sticky to give the impression of being fixed. From a design perspective, this does not really make sense, since th

[2020-11-14 08:25] magical-l commented on #6039
oh, I see there is already an issue: [https://github.com/twbs/icons/issues/379](https://github.com/twbs/icons/issues/379)

[2020-11-14 08:25] #6039 closed

[2020-11-15 22:23] nicolas15000 opened #6046 "actions slot not displayed"
### Documentation issue

This is my bootstrap vue table :

[code]

No actions column is displayed, no button is displayed, template is not working .

This is my holidays data format :

`Array [ {"id":1,"blabla":"blabla"..etc ...}, {…} ]`

The table is correctly displayed, but no button nor actions column is visible. Do I have to create an "actions" sql column to make it work ?

This is my bootstra

[2020-11-16 03:13] AlfredoDaAs commented on #681
Not working for me, not even with a simple handleOk(e) { e.preventDefault() }

[2020-11-16 05:09] Ilyas23 opened #6047 "Table scroll event"
Dear developers, please add the scroll event to the table. I want to be able to load rows when scrolling. Without b-pagination

[2020-11-16 07:59] #4941 closed

[2020-11-16 08:31] Hiws commented on #6046
I've answered your question on StackOverflow.
<https://stackoverflow.com/questions/64848505/b-table-v-slot-actions-not-displaying-anything/64854698#64854698>

But in short, if you want to have a column that doesn't exist in your data, you will need to use the `fields` prop, and define your columns.

[2020-11-16 08:32] #6046 closed

[2020-11-16 08:38] Hiws commented on #6047
If you're using the `sticky-header` prop. You can add `@scroll.native` to `<b-table>` to get a scroll event.

[2020-11-16 09:34] thearabbit commented on #6029
+1

[2020-11-16 10:49] Ilyas23 commented on #6047
Thank you very much! It didn't occur to me to put .native everything works! Then please write at this point

[2020-11-16 10:49] #6047 closed

[2020-11-16 19:50] atyshka opened #6051 "Request: Ability to use non-image content in carousel"
### Is your feature request related to a problem? \

Currently there is no supported way to make a carousel with non-image content. I would like to make a carousel that contains b-card components but cannot find a way to do this.

### Describe the solution you'd like

First class support for custom content via a slot, or a workaround that can use the image slot current available.

### Describe alt

[2020-11-16 20:01] Hiws commented on #6051
Great news. The `img` slot, can take any content and not just images. It's just poorly named.

[code]

Live example:
<https://codepen.io/Hiws/pen/eYzXreV>

[2020-11-16 20:48] atyshka commented on #6051
Thanks for sharing! Your codepen looks good, but when I embed in my site I have a weird glitch where when the animation is in progress, all of my bootstrap columns, even those outside the scope of the carousel, are shifted left a little. This doesn't occur when I just have plain images in the carousel. Any idea what this could be? I'll try to make a minimal example

[2020-11-16 21:46] darkomenx opened #6052 "installation of popper.js into BootstrapVue"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [X] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://bootstrap-vue.org/docs

### Additional context or description

The documentation tell that BootstrapVue use the library popper.js but there is nothing about how integrate that into pr

[2020-11-17 02:35] nideleo commented on #6029
+1

[2020-11-17 16:11] 1337erik commented on #2916
getting this error when running "npm run docs-dev" for version 1.5.1. I removed node_modules, set the package.json version manually for both "highlightjs" & "highlight-loader" thinking maybe a newer version was causing an issue and nothing worked. Does anyone have a hosted version of the 1.5.1 docs or could help diagnose this issue? I'm not sure what to make of this at this point
![image](https://

[2020-11-18 01:10] andrei-gheorghiu commented on #6030
I have read the documentation prior to opening the issue.

Using the current documentation I wasn't able to make it work (and I do read carefully). Probably the weakest point of your documentation is sending to Popper.js docs, which are cryptic. And by that I mean: from your documentation and the entire website found at the link, it is by no means obvious what `popper-opts` expects.

If you want m

[2020-11-18 09:59] darkomenx commented on #6052
I'm also try this :

import all plugin into bootstrap-vue module like this :

`import { BootstrapVue, IconsPlugin, BootstrapVueIcons, DropdownPlugin, PopoverPlugin, ProgressPlugin, AlertPlugin, AspectPlugin, AvatarPlugin, BadgePlugin } from 'bootstrap-vue'
`

and after connect those plugin imported to Vue framework runtime like this :

[code]

But I can't view correct dropdown or popper component

[2020-11-18 11:51] Hiws commented on #6052
These two lines will import **all** components and icons.
[code]
So all the other imports aren't necessary and might be increasing the bundle size for no reason.
This *might* also the reason your dropdown isn't working.

Did you remember to import both Bootstrap *and* BootstrapVue CSS/SCSS into your project?

[2020-11-18 13:01] darkomenx commented on #6052
OK I log that. But It is not the origin of issue because I begin start with those only 2 lines and not all others (this is just a test). Issue's origin is not that.

I use a main.scss file that imported into my components vuejs that contain this :

[code]

or I try with this line :

[code]

is it correct ?

Thank you for your response and your library and welcome if you have another way for resolv

[2020-11-18 13:48] funkyfisch commented on #6045
Update:
I have written the following snippet to display the differences between what is provided by boostrap-vue and a solution I found to be working partially:

[snippet](https://codesandbox.io/s/great-microservice-36q2r)

we can view some other problems that come with sticky-header as of now:
- if a shadow is to be applied to the table header, it scrolls up together with the rest of the elements

[2020-11-18 17:50] Hiws commented on #6052
So you're importing all the CSS into every single component?

Try importing it only once, in your projects entry point.
And avoid placing it in a `scoped` style tag.

[2020-11-18 19:45] darkomenx commented on #6052
I don't have a webpack configuration. And it seems to be not possible to import scss globally with vue.config.js.

I try this in the vue.config.js

[code]

but it generated this error :

`PostCSS received undefined instead of CSS string`

- I also remove all the import declaration in my components
- I try with node-sass binary and dart-sass
- I also change key name options between scss, sass....
-

[2020-11-19 01:08] AutoAwesome commented on #5813
I have the same issue. Works fine on dev. But does nothing on prod. Prints nothing to the dev-console.

[2020-11-19 07:26] choihwan2 commented on #660
Thank You!! finally fix problem!

[2020-11-19 15:02] Tannz0rz opened #6061 "Templated b-list-group-item not rendering properly"
### Describe the bug

Templated "b-list-group-item" element containing "b-form-input" does not render text until text is modified.
EDIT: Additionally, the '-' "b-button" of the templated element does not trigger the "click" event, nor are the specified properties assigned.

### Steps to reproduce the bug

1. Enter any value in "Variable name" input field
2. Enter any value in "Variable value" inpu

[2020-11-19 16:26] JochenLutz opened #6062 "b-table rerenders whole table on selection change"
### Describe the bug

We have a `<b-table>` with search results in our application. We have a wrapper in slot "cell()" which adds buttons to add quick-filters on the value in the respective cell. The wrapper uses slot scope, **but not scope.rowSelected**.

This wrapper is rerendered on each row selection for every cell in the table. With ~ 25 columns and > 100 rows and ~ 250 µs per component rende

[2020-11-19 17:30] Hiws commented on #6061
<b-list-group> is not the issue in this case.
The issue is you're using `domProps` on `<b-form-input>` instead of `props`. This will cause issues since `<b-form-input>` wont know what the value is before a recompute. That's why you should pass values to the component props, and not the dom on custom elements.
You should also use the `staticClass` property when using a render function instead of pa

[2020-11-19 18:25] JochenLutz commented on #6062
I just checkedd with BootstrapVue 2.19.0 — same behaviour.

[2020-11-19 19:47] Tannz0rz commented on #6061
I see, thank you kindly for the assistance @Hiws. Hopefully others will find this should they make similar mistakes as I had.

[2020-11-19 19:48] Tannz0rz commented on #6061
I see, thank you kindly for the assistance @Hiws. Hopefully others will find this should they make similar mistakes as I had.

[2020-11-19 19:48] #6061 closed

[2020-11-20 10:41] darkman97i opened #6063 "Month, week and day calendar"
### Problem description
The problem is that I would like to show in month, week day task

### Proposed solution will be something like:
In the next screenshot is month view, usually may change to week or day view.
![Selección_051](https://user-images.githubusercontent.com/958703/99790772-dce8e680-2b24-11eb-8bf2-d25b1b060d3e.png)

### Describe alternatives you've considered
I would like to know if

[2020-11-20 10:59] rphes opened #6064 "b-table re-renders on row-details toggle"
### Describe the bug

When table row details are shown or hidden by setting `_showDetails` on the applicable data item, the entire table (or at least all other detail views) is re-rendered, causing issues when their contents are rendered from side-effects. It's also sub-optimal in terms of performance.

### Steps to reproduce the bug

See demo.

[code]

[code]

Observe how details for every open r

[2020-11-20 16:59] lifeblood opened #6068 "how to get data with async in one column"
![image](https://user-images.githubusercontent.com/3621748/99827502-ad71c280-2b94-11eb-8491-b032929733fe.png)

how to get data with async in one column when the table content rendered.

[2020-11-20 21:00] dosstx commented on #4382
@tmorehouse Would you be able to take @jackmu95's code example from above and then provide an example of passing the image to a `<canvas>` to process the file and scale it down in dimensions to get a "thumbnail" image as a data URI? I'm having the issue of too large of a data URI.

[2020-11-21 07:00] #5649 closed

[2020-11-21 07:00] #5633 closed

[2020-11-21 07:00] #5644 closed

[2020-11-21 07:46] RedShift1 commented on #5507
Please don't rewrite the project. Thousands of hours have gone into this project along with thousands of bugfixes, improvements, etc... Experience that all will be undone by rewriting the project, it will take years to get to the same level of features, refinement and bugless-ness with the end result that you're basically at the same point as you were a couple of years before, only now it's been "

[2020-11-22 09:32] arunavo4 commented on #6029
Adding some Starter Code for anyone willing to hack away. This works but the only difference is it uses HTML <input>
[code]

[2020-11-22 12:12] funkyfisch commented on #6068
Can you provide more details?
Is the entire column data loaded by a single request?
Is each cell data of this column loaded independently?

In the case of the latter, I would make the column a custom template, making it stateful, and hook events to each cell so that when one of the column cells is loading, you display a spinner, and when you get a result back, you update its state and display a va

[2020-11-22 13:12] lifeblood commented on #6068
have you telegram account?

[2020-11-22 17:41] dogmadev commented on #6029
@arunavo4 Thanks, I will test it.

[2020-11-23 09:27] funkyfisch commented on #6068
No, but I guess you can always email me.
If my idea solved your problem, it would also be nice to post it here so it others in the future can refer to it!

[2020-11-23 13:55] xaviarnl opened #6076 "Misaligned tooltips with certain inline elements"
### Describe the bug
I have a problem where a lot of our tooltips are (slightly) misaligned. This happens mostly on inline(-block) spans and i-elements (mostly: font awesome icons). The tooltip & its anchor (the little arrow at the bottom of the tooltip) are off-center.
95% of the times the misalignment only happens horizontally, and it is usually in a range of 1 to 20 pixels. In 5% of the cases,

[2020-11-23 18:26] lucianobosco opened #6078 "b-input changes v-model from null to empty string on blur"
### Describe the bug

By hydrating a b-input v-model with a null value and blurring the input with no changes, the object property is changed from `null` to an empty string `""`. This happens only the first time when the input is hydrated. If you hydrate it again with no page refresh, it works as expected.

### Steps to reproduce the bug

1. Hydrate the `<b-input>` with a `null` value for the `v-m

[2020-11-23 22:01] jackmu95 commented on #6078
@lucianobosco Can you create a minimal reproduction fo the issue on CodePen or CodeSanbox?

[2020-11-23 23:25] lucianobosco commented on #6078
@jackmu95 Hope it helps!
Please note that the issue happens the first time (on mounted) and when hydrating a null `description` after having a non `null` description already hydrated.

https://codepen.io/lucianobosco/pen/xxOvJWv

[2020-11-24 00:24] sandrovw64 commented on #3134
For those who needs a disabled row in a `<b-table>`, here is my implementation:

[code]

[code]

And then, in my custom `table.scss` file I added

[code]

Notice the `.table-hover` class. My b-table is set to hover. If yours is not, then just use `.table`

[2020-11-24 13:43] jackmu95 commented on #6076
@xaviarnl  Can you create a minimal reproduction fo the issue on CodePen or CodeSandbox?

[2020-11-24 13:54] jackmu95 commented on #6078
@lucianobosco Can you please confirm that this CodeSanbox with the changes of the linked PR applied solves the issue:
https://codesandbox.io/s/bootstrapvue-starter-project-forked-kf5vp?file=/App.vue

[2020-11-24 15:46] xaviarnl commented on #6076
@jackmu95 I should have added it to my issue: I cannot. The surrounding code is to complex to boil down to a minimal reproduction case.
If that makes it impossible to handle this bug, then you may close it. But I hope there may still be someone able to help me with this.

[2020-11-24 18:53] drowhunter opened #6085 "b-link should support go attribute"
This is more of a feature request

router supports `$router.go(-n/n )`  to programattically navigate back and forward in the history
documented here
https://router.vuejs.org/guide/essentials/navigation.html#router-go-n

it seems like a miss that i can't do this

[code]

[2020-11-24 22:29] lucianobosco commented on #6078
@jackmu95 thanks! This is working as expected.
Will this fix be included in the next release?

[2020-11-24 22:59] jackmu95 commented on #6078
@lucianobosco Yeah :)

[2020-11-24 22:59] #6078 closed

[2020-11-25 07:44] jackmu95 commented on #6085
`go()` is a method of the router instance and not a prop of `<router-link>`.

[2020-11-25 07:55] jackmu95 commented on #6045
@funkyfisch Thanks for all the investigation and examples!
I'am with you on this but I currently can't give a estimation when I will find the time to implement it.

A PR is always welcome!

[2020-11-25 08:45] AlexeyZelenko commented on #5196
My bootstrap ^5.0.0-alpha3 works without vue-bootstrap(Vue3.0.0)

main.ts

import 'bootstrap'
import 'bootstrap/dist/css/bootstrap.min.css'

[2020-11-25 12:12] #6085 closed

[2020-11-25 12:21] xi969NajeerMasali commented on #4231
thanks its used for add asterisk to label

[2020-11-25 12:41] djshox opened #6090 "b-form-timepicker with card no correctly working?"

[2020-11-25 12:45] djshox commented on #6090
![Uploading 1.jpg…]()

[2020-11-25 12:45] djshox commented on #6090
![1](https://user-images.githubusercontent.com/38517932/100229429-09966700-2f46-11eb-9660-81aea8bc9909.jpg)

[2020-11-25 13:12] andresuchitra commented on #3216
Hi @tmorehouse,

I'm new to VNode concept. May I know why we can't make slot template on on-demand bvToast please?
Does it have to be putting <b-toast> on each page/layout ? (I'm using Nuxt in this case).

Thanks.

[2020-11-26 03:05] deisner opened #6092 "Numerical string sorting incorrectly handles negative values"
### Describe the bug

When the item data for a column contains strings that represent numerical values, the sorting behavior is as expected, but only if no negative values are included.

### Steps to reproduce the bug

1. Go to https://bootstrap-vue.org/docs/components/table#sorting
2. In the Live data, change the `items` to this (note that the `age` values are strings):
[code]

3. Click the `Age`

[2020-11-26 14:56] Pozee commented on #1774
Is there anyway of getting around this? im having the same issue right now.

[2020-11-26 18:23] ccsaposs commented on #5918
@jackmu95 I'm running into the same issue when adding a description to a radio button group.

I believe the solution would be the same as the solution for the label--the only difference would be adding `aria-describedby` instead of `aria-labelledby` to the `role="group"` element.

[2020-11-26 19:34] DAIMER2001 commented on #4417
I have the same problem, I'm from Colombia, I don't speak English, I hope I can find the solution

[2020-11-26 23:31] andrei-gheorghiu commented on #5196
Of course loading any CSS into a Vue project works.

However, that has nothing to do with BootstrapVue components being usable inside a Vue 3 project.

[2020-11-27 02:12] damirbogd opened #6094 "b-form-tags required prop not working"
### Describe the bug

Forms gets submitted even though b-form-tags required and initial value is empty array
### Steps to reproduce the bug

1. Go to [CodeSandbox](https://codesandbox.io/s/s1fet)
2. Click on Submit button and see the **Please fill in this field** message
3. Fill in first input and click on Submit button again
4. See error. Forms gets submitted even though b-form-tags required and

[2020-11-27 06:48] jackmu95 commented on #5918
@ccsaposs Can you please create another issue for that.

[2020-11-27 06:57] jackmu95 commented on #6094
@damirbogd The problem here ist that the native value of the `<input>` element ist always empty, no matter what tags the `<b-form-tags>` component currently has.

We could set the value of the native `<input>` to some sort of normalized string value based on the tags.

[2020-11-27 07:09] ccsaposs opened #6095 "Description on form radio button group not accessible to screen reader"
### Describe the bug

The description for a b-form-group containing a b-form-radio-group is not accessible to the ChromeVox screen reader.

### Steps to reproduce the bug

1. Activate ChromeVox (Ctrl+Alt+Z)
2. Go to https://jsfiddle.net/qw394szo/1/
3. Use the tab key to select the radio button group
4. ChromeVox reads "option a, radio button unselected; 1 of 2; Radio button group; Label; Form;"

#

[2020-11-27 07:56] mikeerickson commented on #5229
@tmorehouse why doesn’t the icon append format not work? I am trying to get a dropdown on left and search icon on right.  All is cool until I add the icon

[code]

[2020-11-27 11:19] andres-ml opened #6097 "Table headers are always added to the tab sequence even if they're not sortable"
### Describe the bug

As long as 1 column is sortable, all `<th>` elements are added to the tab sequence (`[tabindex="0"]`), regardless of their corresponding column being sortable or not. I thought it might be due to the sort reset feature, but using `no-sort-reset` has no effect on this behavior.

### Steps to reproduce the bug

1. Create a table with both sortable and non-sortable columns
2. Ta

[2020-11-28 13:36] syffs opened #6098 "components are not registered with nuxt when it uses typescript"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the bug

just look at the console in sandbox

### Expected behavior

components should be registered and work properly

### Versions

**Libraries:**

- BootstrapVue: 2.19.0

### Demo link

https://codesandbox.io/s/bootstrap-vue-nuxt-ts-tcddc

[2020-11-28 14:29] TitanFighter opened #6099 "form-spinbutton: HTML Validate raises "Element <div> is not permitted as content in <button> element-permitted-content""
-/+ buttons (svg-s) are inside `button -> div`. Probably `div` can be replaced by `span`?

[Rule](https://html-validate.org/rules/element-permitted-content.html) (not useful, but just in case).

[2020-11-28 16:10] #5604 closed

[2020-11-29 11:31] #6097 closed

[2020-11-29 11:42] #6099 closed

[2020-11-29 22:44] #6094 closed

[2020-11-29 23:11] DM2489 commented on #6051
+1, came here looking for this. It would be nice to get the slot renames and aliased for compatability.

Better docs would also be good for non-image content. I'll do a PR when I get some time.

[2020-11-30 09:28] jackmu95 commented on #6098
The problem is the `"exclude": ["node_modules"]` in your `tsconfig.json`.

[2020-11-30 10:31] MRVDH commented on #3249
@ddweber @tmorehouse I ran into the same issue and simply fixed it by adding this css:

[code]

The `max-width: 1px;` does the trick here. Maybe this could be added to the documentation?

[2020-11-30 13:04] #6092 closed

[2020-11-30 19:20] #6098 closed

[2020-11-30 21:42] arthurorbica opened #6112 "v-model broken on b-input"
### Describe the bug

v-model no longer works on b-input. I cannot enter any text into the input.

### Steps to reproduce the bug

[![Edit cool-haze-wqjnv](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/cool-haze-wqjnv?fontsize=14&hidenavigation=1&theme=dark)

Try to enter text into the input but nothing will show up

### Expected behavior

Can enter text into th

[2020-11-30 22:14] scenaristeur commented on #6112
same for me

[2020-11-30 23:36] damirbogd opened #6114 "Native HTML5 tooltip appear on the disabled button"
### Describe the bug

Using v-b-tooltip with b-button results in unexpected behaviour. Native HTML5 tooltip will appear on the disabled b-button.

### Steps to reproduce the bug

1. Go to [CodeSandbox](https://codesandbox.io/s/e76lj)
2. Hover over the first button and notice that Native HTML5 tooltip will appear
3. Hover over the second button and check that Native HTML5 tooltip won't appear if th

[2020-12-01 00:44] jackmu95 commented on #6114
When a `href` or `to` prop is used on `<b-button>`, a anchor with button styles is render instead of a button element.
Chrome shows the `title` as native tooltip for `disabled` buttons but not for anchors.

[2020-12-01 00:53] damirbogd commented on #6114
thanks @jackmu95 for clarifying that!

for anyone else stumbling upon the same thing, probably going to include something like this in order to fix that

[code]

[2020-12-01 00:53] #6114 closed

[2020-12-01 01:42] #6112 closed

[2020-12-01 07:54] taurni opened #6117 "How to change default settings for b-form-group?"
I'am trying to change `label-size` default value for `b-form-group` to 'sm' but it doesn't work.
Though changing default b-alert variant to 'warning" works just fine!
In my main.js file
[code]
And using it like that in inputDemo.vue
[code]
What am I missing??

[2020-12-01 08:22] jackmu95 commented on #6117
Make sure to use BootstrapVue `^2.19.0` to have global config support for all component properties.

See this CodeSandbox based on your code with the latest BootstrapVue:
https://codesandbox.io/s/gallant-thompson-q9zrg

[2020-12-01 08:24] jackmu95 commented on #6090
@djshox Can you please create a live demo with a minimal reproduction of the issue on CodeSandbox or Codepen.

[2020-12-01 08:58] MRVDH commented on #3249
The problem with my code snipper is that all columns are still the same size. Would be great if this could be reopened and would work with variable column widths.

[2020-12-01 10:40] Trainmaster opened #6118 "Allow setting "control-cols" on horizontal form group"
### Is your feature request related to a problem? Please describe...

I'm creating forms using the `<b-form-group>` element wrapper. While the label width is adjustable via the `label-cols` parameter, there is no parameter for the control element width. Setting the control element width via e.g. `class="col-3"` results in two nested divs with class `col` and thus unwanted padding left/right.

###

[2020-12-01 17:16] DM2489 opened #6120 "Carousel - Update and new features"
This is just a collection of thoughts having been using the carousel component over the last couple of days, for future consideration.

- `BCarouselSlide` slot is called `img` (but can accept any content) - slot name should be changed.
- There is no properties to add classes to some nested elements such as `carousel-inner`. This means you have to write custom CSS classes and apply them to the pare

[2020-12-01 17:38] #6068 closed

[2020-12-02 05:10] asto2008 opened #6121 "version 2.20 b-form-input"
v 2.20
tag b-form-input, error - disabled input.

[2020-12-02 07:03] jackmu95 commented on #6121
This issue was fixed in v2.20.1.

[2020-12-02 07:03] #6121 closed

[2020-12-02 21:24] dreysolano opened #6124 "b-form-input is broken with changes to hasFormatter computed property"
### Describe the bug
@jackmu95

On input of a `b-form-input`, the computed property `hasFormatter` throws a "Cannot read property 'name' of null" error when no `formatter` prop is provided, which results in `this.formatter` being `null`.
`
hasFormatter() {
    return this.formatter.name !== props.formatter.default.name
}
`

EDIT: above code is in `src/mixins/form-text.js`

### Steps to reproduce t

[2020-12-02 21:58] dreysolano commented on #6124
Downgraded to 2.19.0 and there was still a "this.formatter is not a function" error. Downgrading to v2.18.0 resolved the issue.

[2020-12-03 00:02] jackmu95 commented on #6124
The issue can be reproduced in this CodeSandbox:
https://codesandbox.io/s/sad-sunset-u49pq?file=/App.vue

[2020-12-03 11:29] koentjuh1 commented on #5196
First of all thanks for the time and effort, what's the progress so far for vue 3 support? You had the goal to have it ready by the end of the year. Is this still your goal? Thanks again :)

[2020-12-03 12:45] guillaumesmo opened #6129 "b-table sorting broken for ISO timestamps"
### Describe the bug

b-table sorting does not work with data of the following format: "2020-12-03T13:27:42+01:00"

### Steps to reproduce the bug

    <b-table
        :items="[{createdOn: '2020-12-03T13:27:42+01:00'}, {createdOn: '2020-12-03T13:26:39+01:00'}]"
        :fields="[{key: 'createdOn', sortable: true}]"></b-table>

### Expected behavior

Since the data are strings, it should be sorted

[2020-12-03 17:15] mmilano opened #6130 "tables question: can table header be turned off entirely?"
Having gone through the docs and issues, i cant seem to find a clear answer.

Is it possible to render a <b-table> without any header row at all?

I have a design that would like to use the table to display a list of items in a custom format
with filter capability,
but do not want the regular column header row; the list will be topped with a custom element.

[2020-12-03 18:42] Hiws commented on #6130
You can add `thead-tr-class="d-none"` to hide the entire header.

[2020-12-03 20:42] jackmu95 commented on #5196
It is still the goal and I'am make some good progress.

Having it ready still doesn't mean that it is production ready by then.

[2020-12-03 21:07] mmilano commented on #6130
well, yes, i could have that not display.
to revise for more specificity: is it possible to not have the header generate/render at all?

[2020-12-03 23:47] Hiws commented on #6130
I don't think there's any way to completely stop the header from rendering. At least to my knowledge.

[2020-12-04 08:00] AkhmedovSH opened #6131 "When click on calendar in dropdown it closes"
### Describe the bug
I have 2 popups 1 dropdown and 1 calendar in dropdown like on image
![image](https://user-images.githubusercontent.com/24861395/101136933-da5fb400-362f-11eb-9707-7e9b0a2fee55.png)

and when i choose date in calendar my dropdown closes

### Expected behavior

Wanna not close my dropdown. I am thinking maybe add some props clickOutsideClose: false and i can change it to true if

[2020-12-04 08:11] jackmu95 commented on #6131
@AkhmedovSH Can you please create a minimal reproduction of the issue on CodeSandbox or CodePen.

[2020-12-04 08:35] AkhmedovSH commented on #6131
https://codesandbox.io/s/goofy-sunset-1jm0d?file=/src/main.js

[2020-12-04 09:22] lucapu88 opened #6132 "Three big problems found"
It is incredible that a library of this size, well known and used, has a lot of limitations ...

- date picker component that does not give the possibility of multiple selection of dates.
- timepicker component does not give the possibility to write timetables by hand instead of having to click every time.
- component card does not give the possibility to insert an image with src path of my local,

[2020-12-04 10:40] Hiws commented on #6132
I didn't ban you because you spoke in another language.
The reason i banned you from the discord server was because of what you said in that language.

Telling someone to go kill themselves because they don't know the answer to your question isn't the right way to go about things, and that's why you were banned.
If you don't like the library or community, there's plenty of others for you to chose

[2020-12-04 10:40] #6132 closed

[2020-12-04 10:56] Hiws commented on #6131
It's happening because the datepicker you're using is appended to `<body>` by default, meaning that clicking inside the popup will count as clicking "outside" of the dropdown.
You can set the `append-to-body` prop on `<date-picker>` to false, to fix the issue.

<https://codesandbox.io/s/ecstatic-chaplygin-mttc3?file=/src/App.vue>

[2020-12-04 11:04] lucapu88 opened #6133 "Many things are missing"
For now I have found three:

- date picker component that does not give the possibility of multiple selection of dates.
- timepicker component does not give the possibility to write timetables by hand instead of having to click every time.
- component card does not give the possibility to insert an image with src path of my local, but only web link! and to be able to insert an image from my local

[2020-12-04 11:50] AkhmedovSH commented on #6131
Thanks man

[2020-12-04 11:50] #6131 closed

[2020-12-04 18:59] koentjuh1 commented on #5196
Good to hear! Thanks again!

[2020-12-05 00:12] ccsaposs opened #6136 "Form checkbox fails to load with strict Content Security Policy"
### Describe the bug

With a Content Security Policy (CSP) of `img-src 'self'`, the checkmark in the form checkbox fails to load on Chrome for Android.

### Steps to reproduce the bug

1. On Chrome from Android, go to https://5fcae2e0faed132d6cd76761--vom-qr-codes.netlify.app/create/
2. Click on one of the checkboxes
3. The checkbox turns blue but no checkmark shows up
4. If you check the console,

[2020-12-05 05:02] #5686 closed

[2020-12-05 05:02] #5689 closed

[2020-12-05 06:54] mmilano commented on #6130
ah. that is too bad. thanks.

[2020-12-05 09:33] chefjuanpi opened #6137 ""b-form-checkbox-group buttons" remove error when v-model is a String. Support single selection mode"
### Describe the bug

Hi, I try to do use "b-form-checkbox-group buttons" on single selection mode,

I need to set multiple options, one option selected by default, and the visitors can select only one at a time, and need to select one of the options, it can't be empty.

testing I realize if I initialize v-model variable as a string containing one of the values of the options, the "b-form-checkbox

[2020-12-05 16:52] Hiws commented on #6137
Checkboxes are designed to allow multiple selections.
That's why it expects an array as a model.

If you only want to allow the user to select a single value, you should use radio buttons.
Which are designed to allow only one to be selected within a group.

Basically, replace `<b-form-checkbox-group>` with `<b-form-radio-group>` and it should work as you want.
[code]

[2020-12-05 23:18] fessacchiotto opened #6138 "Invalid prop check in form datepicker"
The 'value' of the v-model in the datepicker component is initialized as:

`{
     form.data_registrazione: null
}`

and then it is set as `Date`:

`this.form.data_registrazione = DateTime.fromISO(response.data.data_registrazione).toJSDate()`

This is the template:

[code]

As soon as I mount the component containing the template above, I get the following warning:

[code]
Any hints on how to get

[2020-12-06 15:49] rx-837 opened #6140 "tabs menu doesn't render inside Nuxt.js on server-side"
### Describe the bug

Tabs links doesn't render inside ul-element(nav menu) inside Nuxt.js app in "universal mode" on server-side.

### Steps to reproduce the bug

1. Go to https://w92v9.sse.codesandbox.io
2. Open devpanel in your browser
3. Go to Network -> Docs
4. Press "F5" and click on doc response
5. Response doesn't contain tab links in ul element(nav menu)

### Expected behavior

Tabs rende

[2020-12-06 16:02] chefjuanpi commented on #6137
ohh i understand

[2020-12-06 16:02] #6137 closed

[2020-12-06 23:04] Stephan811D opened #6142 "Icon in Table is invisible"
Hi,

I created a table which should display an icon in a field.

This is the code where i push the data into the items-field:
`this.items.push({ name:'Status:', value: '<span style="color:red">offline</span><b-icon icon="circle-fill"></b-icon>'});
`

That is the table code:

    <b-table borderless responsive thead-class="d-none" small :items="items">
      <template #cell(value)="data">
        <

[2020-12-07 00:55] Hiws commented on #6142
`v-html` only supports native HTML elements.
You can't use it with custom components such as `<b-icon>`

[2020-12-07 01:29] vsirghii commented on #5842
Thanks @funkyfisch for your input. Yeah, window.innerHeight(), that's exactly what I'm currently using for my dynamic calculations. Something along these lines, as an example in case somebody else will be wondering around the same question:
[code]
I just thought that I might missing some simpler solution (like a <b-table> CSS for example). But it appears it's has to be handled manually.

Thank you

[2020-12-07 01:29] #5842 closed

[2020-12-07 11:27] jackmu95 commented on #6138
@fessacchiotto Can you please create a minimal reproduction of the issue on CodeSanbox.

This would help a lot to see if #6141 also fixes this.

[2020-12-07 20:09] mmilano commented on #6130
a followup question, tangentially related:
is it possible to render the entire table row as a custom slot?

[2020-12-07 22:20] TitanFighter commented on #4977
If someone need it:

**Component:**
[code]

How to use:
[code]

[2020-12-07 22:37] #6124 closed

[2020-12-07 23:31] #6129 closed

[2020-12-08 02:40] Flawe opened #6155 "Button render issue in b-card-footer inside b-collapse with float-right set"
### Describe the bug

When placing a b-button inside a b-card-footer that's inside a b-collapse, and the button has class="float-right" set, there seems to be a minor rendering issue where the card footer is split in half horizontally.

### Steps to reproduce the bug

1. See demo link below

### Expected behavior

Card footer should render the same as when button does not have class="float-right"

[2020-12-08 03:17] prayjourney commented on #5196
the mean is v2.20.1 is already suitable for vue3？

[2020-12-08 04:58] prayjourney commented on #5196
v2.20.1 is already suitable for vue3？

[2020-12-08 06:13] johandalabacka commented on #5196
Hi. No 2.20.1 is not yet compatible with Vue 3.

Den tis 8 dec. 2020 05:58z.g.y <notifications@github.com> skrev:

[2020-12-08 06:34] prayjourney commented on #5196
Thanks for your advice😃

[2020-12-08 07:53] michaelzangl commented on #5196
This is actually what I am doing right now. I started writing my own components. The JS part of Bootstrap can easily be replaced so that you can also do things like dialogs, modals and toast. It is worth a look, if you want to start your project with Bootstrap 5 + Vue 3 or if you need to integrate into a project that uses those, since official support in this library will probably take some time.

[2020-12-08 08:51] Hiws commented on #6155
Elements with `float` doesn't take up any space, which is why you're seeing the behavior you are.
You should generally avoid using float, as there are better ways now.

If you just want to align the button to the right, you can add `text-right` to `<b-card-footer>`.

[2020-12-08 11:08] seeratawan01 commented on #1045
This is working for me
[code]

[2020-12-08 12:38] yondkoo commented on #4797
How do I change MM-DD-YYYY to YYYY-DD-MM?

[2020-12-08 17:22] monprin commented on #6138
Having the same issue after upgrading from v2.16.0 -> v2.20.1

I did come up with a fairly minimal Sandbox here: https://codesandbox.io/s/musing-mirzakhani-c69vn?file=/src/App.vue

This issue *seems* to be when swapping out the variable in some way. In the sandbox I have a button to toggle between two date vars (a simplification of a workflow I use in my app), and when toggling from the `null` to

[2020-12-08 17:28] monprin commented on #6138
For added context, based on rudimentary backtracking through versions, the issue seems to have been introduced between v2.18.1 and v2.19.0.

[2020-12-08 17:41] jackmu95 commented on #6138
@monprin Thanks for the example and the further investigation.
I will look into it and it will be fixed with the next release.

[2020-12-08 22:04] #6138 closed

[2020-12-09 02:11] Flawe commented on #6155
@Hiws, excellent, thank you! I also noticed that `clearfix` on `<b-card-footer>` did the trick, but I like your solution better.

[2020-12-09 02:11] #6155 closed

[2020-12-09 07:25] brijeshladani commented on #2109
When you use vee validate and b-table at same time then this error will appear.

You can rename vee validate prop name by:

import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {
  fieldsBagName: 'vee-fields',
})

then this name conflict will solve

[2020-12-09 10:30] jackmu95 commented on #6133
@lucapu88 The `<b-card>` component handles relative ("local") images properly when you configure you project correctly.

We have a comprehensive guide in the documentation for that:
https://dev.bootstrap-vue.org/docs/reference/images

Here is an example project on CodeSandbox:
https://codesandbox.io/s/bootstrapvue-relative-images-sqfvu

[2020-12-09 10:54] jackmu95 commented on #6140
The current `<b-tabs>` implementation doesn't allow full SSR support.
To show the navigation we need to wait for all `<b-tab>`'s to have been rendered and have to do a re-render.

In #6154 I tried to improve the logic as much as possible without breaking changes.

[2020-12-09 12:39] alexrafael10 opened #6160 "Adding content outside modal available slots"
Sorry if I butchered the issue template, more than a "Feature Request" this is a small question. My bad if this is not the place.

### Is your feature request related to a problem? Please describe...

I would like to find a way to add code outside of the available slots, i.e. between the modal header and the modal body. So far i can't find a way of doing that, maybe is not possible because of the

[2020-12-09 15:33] sowinski opened #6161 "Row select support: Option to disable specific rows"
Hi,

according to the docs it is not possible to disable specific rows:
https://bootstrap-vue.org/docs/components/table#row-select-support

However I would like to have the ability to disable specific rows. How can I do this?

Thank you

[2020-12-09 20:16] Speedy059 commented on #5507
Not sure why you are getting down voted. Bootstrap-vue should upgrade to Vue3 by continuing to use the Options API, and then slowly change it over to the composition API.

[2020-12-10 08:38] deguich opened #6162 "Need b-form-tag without close button but not disabled"
### Is your feature request related to a problem? Please describe...

Need a b-form-tag without close button for mandatory tag but not totally disabled because I need working popover on this tag (or clickable tag).

### Describe the solution you'd like

Just need a removeCloseButton=true (or mandatory=true or closable=false) property on b-form-tag.

### Describe alternatives you've considered

I u

[2020-12-10 10:28] #6162 closed

[2020-12-10 14:26] pascencio opened #6169 "I can't override bootstrap and bootstrap vue in a nuxt project"
### Describe the bug

I want override some classes in bootstrap using this settings in my nuxt.config.js file:

[code]
To override I'm using a single custom.scss file that import bootstrap and bootstrap-vue scss files.

[code]

Finally I use my custom.scss as Global CSS:

[code]

All config works perfectly generating a app.css file with all css rules. The problem happen when my page load, because

[2020-12-10 17:29] DM2489 commented on #6130
@mmilano Not that I am aware of.

Perhaps you should consider using `BTableSimple`. You will lose a lot of the functionality that `BTable` and `BTableLite` come with. but that's the price you pay for complete control.

See https://bootstrap-vue.org/docs/components/table#comp-ref-b-table-slots for more info on `BTableLite`.

[2020-12-10 17:37] DM2489 commented on #6160
I'm not entirely sure what you mean. Could you provide a loose design of the intended layout?

[2020-12-10 17:44] DM2489 commented on #6136
This isn't really anything to do with Bootstrap-Vue, it's a CSP definition problem.

`'self'`

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/img-src

`data` does not fit this policy definition.

You need to something like: `img-src: 'self' data:;` in your CSP policy.

[2020-12-10 17:56] krzysztofjeziorny opened #6170 "Make b-table items name capitalization optional"
As [documented](https://bootstrap-vue.org/docs/components/table#items-record-data), field names are automatically "humanized".

In some projects it is desired to see the exact name of the key instead of the converted name.

[2020-12-10 18:17] mmilano commented on #6130
thanks!

[2020-12-10 18:17] #6130 closed

[2020-12-10 18:33] Hiws commented on #6170
A simple workaround to this could be to utilize the `head()` slot to display the non-humanized property name.
[code]

[2020-12-10 19:07] mungra commented on #2869
I know this issue is closed, but was wondering if there is a way to highlight a row when using the arrow keys?

[2020-12-10 21:30] TravellerSam commented on #6170
Thanks for the workaround, @Hiws! I had it working with

[code]

[2020-12-10 22:00] ccsaposs commented on #6136
Is it possible to use bootstrap-vue without putting `data:` into the img-src of my CSP?  I don't want to allow arbitrary images to load.

[2020-12-10 22:50] DM2489 commented on #6136
Looking at the source code, it uses `data:` to draw the ticks in the checkboxes.

You can either enable `data:` in your CSP, or you can use the `plain` prop on the checkbox to use the native HTML elements.

If you chose to use the `plain` prop, be aware that there may be other components that also use `data:`.

[2020-12-11 00:53] ccsaposs commented on #6136
Nevermind--it looks like this is a [bootstrap issue](https://github.com/twbs/bootstrap/issues/25394) and not a bootstrap-vue issue.

Thank you for your help.

[2020-12-11 00:53] #6136 closed

[2020-12-11 06:41] AAllport opened #6172 "B-Datepicker in Button-Only has 1x500px label"
### Describe the bug

When using `b-datepicker` on its own, with `button-only` set, the label will have both the `sr-only` and `h-auto` classes enabled.
This causes a 1px width, with auto height label, resulting in an invisible 1x500px strip.
When the component is used towards the bottom of a page, this will cause a scrollbar to appear where it is not needed, or wanted.

I've attached an image to

[2020-12-11 10:00] #6090 closed

[2020-12-11 10:01] #6024 closed

[2020-12-11 10:02] #5901 closed

[2020-12-11 10:03] #5799 closed

[2020-12-11 10:03] #6023 closed

[2020-12-11 10:03] #5985 closed

[2020-12-11 11:04] lucapu88 commented on #6133
ok thanks for the solution. Your colleague @Hiws  was unable to answer me on discord and even banned me for no good reason accusing me of saying things that were not true! I said a sentence in the dialect of my language that he interpreted in his own way ...
So I give you some advice, hire competent moderators, because it's absurd that I write to you on discord and your moderators can't answer, an

[2020-12-11 11:35] AhmadOf commented on #5813
I have same issue here an in Hot reload module it is working fine but not for production at all and there is no error shown in console.

[2020-12-11 11:52] Hiws commented on #6133
I think you're misunderstanding a few things here.

Firstly, the work I do for this project and helping people is completely unpaid, and I do it because i want to.

I attempted to help you by linking you the relevant documentation, which is the same solution as Jackmu has implemented in the example. Since that didn't work, I said i didn't know, because i didn't know why it wasn't working in your p

[2020-12-11 12:02] lucapu88 commented on #6133
unfortunately I'm not Neapolitan, so:
1. you have completely wrong search.
2. change people from whom you inquire because that person who translated you translated wrongly.
3. in practice you banned me without being sure of what I wrote more informing you at random.
4. I'd rather you don't answer if you don't know, instead of saying "I don't know".
5. I will have to open a lot of requests (sometim

[2020-12-11 12:14] Hiws commented on #6133
Feel free to use the new `Discussions` section on GitHub if you feel like your problem isn't important enough for an Issue.

[2020-12-11 12:19] lucapu88 commented on #6133
no I like it here, there are competent people who know how to answer instead of saying "I don't know".
You can go back to doing your "job" (badly done) on discord. You can keep banning people unfairly, without informing yourself, totally random.
When you see my name with the thousand questions that I will ask here, you can also not answer. Thank you and good day.
What a nice assistance............

[2020-12-11 12:23] Hiws commented on #6133
I do apologize if I've gotten your sentence translated incorrectly.
Would you mind telling me which dialect it is that you speak, and also translating "vafammok a mamt" for me, so that I can understand what you actually said?

[2020-12-11 12:27] lucapu88 commented on #6133
look you're the wrong person. I didn't say these things, so kindly delete this statement from you or I'll legally do so! let's end the conversation here. I don't want to have anything to do with people like you anymore.

[2020-12-11 13:04] jackmu95 commented on #6133
I will close this issue and this heated discussion.
It is a duplicate anyway.

[2020-12-11 13:04] #6133 closed

[2020-12-11 13:40] mdogancay opened #6176 "Sidebar doesn't render correctly in some mobile browsers"
I tested with some samsung phones with samsung mobile browser (Chrome based).

First of, sidebar-body size rendering smaller than desktop browsers on mobile browsers so some of the content
not visible on the mobile browser.

Screen shoot on desktop browser:
[desktop-browser](https://ibb.co/zbbK5h7)

Screen shoot on mobile browser:
[Mobile-browser](https://ibb.co/S3rnbry)

in this example I had to

[2020-12-11 13:52] mdogancay opened #6177 "Can we add custom header slot to the sidebar component? (like footer)"
On many senarios only the title slot of sidebar is not enough to do job.

Can we add custom header slot to the sidebar component? (like footer)

[2020-12-11 20:05] #6177 closed

[2020-12-13 09:58] LBBO commented on #5699
Has anything happened in regard to this? If not, is there anything I can do to help?

[2020-12-13 17:36] mungra opened #6182 "b-table: highlight row on focus with arrow keys"
Is there a way to highlight rows when using the arrow keys. something similar to the hover event?

_Originally posted by @mungra in https://github.com/bootstrap-vue/bootstrap-vue/issues/2869#issuecomment-742732155_

[2020-12-14 07:25] emfluenceindia commented on #6182
Most probably there is no inbuilt solution available for this yet. In my opinion, we need to write our own Keydown handlers.
However, by doing this, we would lose the mouse click control. so, to keep that behaviour alive as well, we need to have a Click event listener call the Keydown triggers from there.

[2020-12-14 08:16] Hiws commented on #6182
What is it you're trying to accomplish?

[2020-12-14 08:31] #6095 closed

[2020-12-14 08:31] #6118 closed

[2020-12-14 09:40] lucapu88 opened #6185 "input number "max" doesn't work"
Hi I have a problem. I have this input where the property `max = "100"` doesn't work for me and then if I type something like: 12345678910 it makes me type it.

[code]

I also tried the modification within the method getPeople(), but it doesn't work:

[code]

[2020-12-14 10:06] Hiws commented on #6185
Both the `min` and `max` prop, are simply passed along to the native input attribute.
<https://www.w3schools.com/tags/att_input_max.asp>

These are used by the browser for validation when submitting a form, and doesn't stop the user from typing number higher or lower. (though, this can vary depending on the browser).

Try typing a number less than 1 or higher than `5` in the codepen, and submit th

[2020-12-14 10:10] lucapu88 commented on #6185
ok but I would like to ensure that the user cannot type a digit with a length not exceeding 3 digits ... with other poorer libraries it is feasible, with bootstrap vue no?

[2020-12-14 10:13] Hiws commented on #6185
You could write a `@keydown` function to prevent the keystroke if it exceeds the max.

[2020-12-14 10:14] lucapu88 opened #6187 "DatePicker multiple selection?"
https://bootstrap-vue.org/docs/components/form-datepicker#form-datepicker

there is no possibility to select multiple dates at the same time?

[2020-12-14 10:17] lucapu88 opened #6188 "TimePicker ability to write instead of clicking"
https://bootstrap-vue.org/docs/components/form-timepicker#form-timepicker

is it possible to write the time instead of clicking every time?
it's a really uncomfortable thing and creates a very low user experience

[2020-12-14 10:25] Hiws commented on #6187
Duplicate of https://github.com/bootstrap-vue/bootstrap-vue/issues/5086
So closing this issue in favor of the other one.

[2020-12-14 10:25] #6187 closed

[2020-12-14 10:37] jackmu95 commented on #6188
@lucapu88 What you wan't is that the highlighted text is a input instead?

![Bildschirmfoto 2020-12-14 um 11 35 31](https://user-images.githubusercontent.com/2737132/102071366-aab76580-3e00-11eb-89ef-24ce9bee6ca8.png)

[2020-12-14 10:39] #6172 closed

[2020-12-14 10:42] lucapu88 commented on #6188
No. I want to be able to write the time instead of clicking on the arrow until I reach the desired time ... it would be more convenient to write an hour

[2020-12-14 15:27] #5795 closed

[2020-12-14 15:27] #5798 closed

[2020-12-14 15:29] #6142 closed

[2020-12-14 15:38] #6182 closed

[2020-12-14 15:39] #6117 closed

[2020-12-14 15:42] #6020 closed

[2020-12-14 15:43] #5888 closed

[2020-12-14 15:45] #6051 closed

[2020-12-14 15:46] #5848 closed

[2020-12-14 15:50] #5988 closed

[2020-12-14 15:52] #5710 closed

[2020-12-14 15:53] #5819 closed

[2020-12-14 15:55] #5867 closed

[2020-12-14 15:56] #5623 closed

[2020-12-14 15:57] #5490 closed

[2020-12-14 16:00] #5968 closed

[2020-12-14 16:01] #5725 closed

[2020-12-14 16:02] #5908 closed

[2020-12-14 16:04] #6052 closed

[2020-12-14 16:04] #5881 closed

[2020-12-14 16:07] #5811 closed

[2020-12-14 16:08] #5602 closed

[2020-12-14 16:08] #5791 closed

[2020-12-14 17:48] Petercopter commented on #3303
Heyo it looks like `bootstrap-vue@2.21.0` is causing this warning to pop up again. It seems like the appropriate course of action is to add
[code]
to Jest setup, and then remove `localVue.use(BootstrapVue)`? Are there any downsides to this approach? It seems cleaner...

[2020-12-14 20:01] mangrove108 opened #6197 "( bv::dropdown::show ) bvEvent is undefined in navbar ..."
### Describe the bug

Opening the navbar dropdown should return the specific event from (bv::dropdown::show). Unfortunately the corresponding event is undfined ? I just updated vue-bootstrap from 2.20.1 to 2.21.0.

my code looks like this:

`

         this.$root.$on("bv::dropdown::show", bvEvt => {
          if (bvEvt.componentId === "menu-links") {
            var hamburger = document.querySelec

[2020-12-14 22:58] #6197 closed

[2020-12-15 07:02] Nesuarg opened #6199 "BPagination - initial page count set twice."
In [pagination.js](https://github.com/bootstrap-vue/bootstrap-vue/blob/dev/src/components/pagination/pagination.js) the page count is initial set 2 times in first in created() and again in mounted(). If this is solved an edge case issue, then then comment should be updated?
Note that I didn't find any bugs related to this.

https://github.com/bootstrap-vue/bootstrap-vue/blob/9722376e99c7b1e12e4aad

[2020-12-15 09:18] #6199 closed

[2020-12-15 10:02] #6185 closed

[2020-12-15 13:49] jackmu95 commented on #5973
Isn't it possible to do that on the `blur` vent of the input?

[2020-12-15 13:50] jackmu95 commented on #6176
@mdogancay Can you please create an minimal reproduction of both issues on CodeSandbox or CodePen.

[2020-12-15 13:56] lucapu88 opened #6204 "how come the tooltip on a disabled button doesn't work?"
https://bootstrap-vue.org/docs/components/tooltip#tooltips

I'm trying it on a disabled button but it doesn't work..........

[2020-12-15 13:59] Hiws commented on #6204
Please check out this section of the docs. It should explain why, and how you can work around it.
<https://bootstrap-vue.org/docs/components/tooltip#disabled-elements>

[2020-12-15 14:03] #6204 closed

[2020-12-15 14:03] lucapu88 commented on #6204
@jackmu95 Can you confirm what this guy said?

[2020-12-15 14:18] jackmu95 commented on #6204
@lucapu88 Yes it is. The docs @Hiws linked you too does exactly what you asked for.

[2020-12-15 15:35] hktr92 commented on #3372
on the other hand, i'm working on a project where the client wants to reset the page to 1 when filters has changed. i'd like to have this feature documented somewhere, e.g. to let the user control the page change on various events (I'm already using [items provider](https://bootstrap-vue.org/docs/components/table#using-items-provider-functions) for loading server-side paged content).

my current "

[2020-12-15 15:42] lucapu88 commented on #6188
![Schermata da 2020-12-15 16-06-18](https://user-images.githubusercontent.com/56302007/102236652-0b739a80-3ef4-11eb-93d0-255a2e135e26.png)
this was what i was looking for... thanks for the help. I'll have to customize it quite a bit but it could go....
in the photo there is a syntax error that caused me problems when I copied the code and it took me a while to understand where it was.

[2020-12-15 15:45] dancarasco opened #6205 "[B-Tabs] :active prop no longer works (breaking change)"
### Describe the bug

When using the **:active** prop on a single **B-Tab** which is routed to a method to return a boolean, the returned result is _ignored_ or not applied once the DOM is rendered.
The first tab in the index is the one that always remains active in the DOM (highlighted) regardless of the :active prop.

### Steps to reproduce the bug

1. Go to https://jsfiddle.net/qL0ao8yh/
2. Hit

[2020-12-15 16:03] mvind opened #6207 "Card groups have cards with missing styles"
### Describe the bug

Card group in column formation produces cards with missing styling.

### Steps to reproduce the bug
[See pictures here](https://imgur.com/a/OJS2BbO)

My code follows the documentation pretty spot on. I create a cardgroup using a loop:
[code]
where ``deckthumbnail`` is
[code]

### Expected behavior
I expect that all the cards in the card group have the same styling.

### Versi

[2020-12-15 16:10] jackmu95 commented on #6188
@lucapu88 The example markup was fixed with #6206 and will become live with the next patch release.

[2020-12-15 16:23] lucapu88 commented on #6188
great! if I can give you some advice make sure that the user cannot write letters but only numbers ... currently if I write "foo" within the time he accepts it, it should only accept numbers and a valid time format.

[2020-12-15 16:32] jackmu95 commented on #6207
@mvind Can you please create a minimal reproduction of the issue on CodeSandbox or CodePen.

[2020-12-15 16:51] mvind commented on #6207
@jackmu95 sure, do you have a template to a codepen?

[2020-12-15 16:59] jackmu95 commented on #6207
@mvind For sure, but you can just create one from the "Playground":
https://codepen.io/pen?&editors=101

[2020-12-15 17:07] kswizzlek commented on #5973
I have multiple inputs in the row. I could save each one individually on the blur event. I ended up adding a vue v-off-click directive for the btable - https://stackoverflow.com/questions/36170425/detect-click-outside-element and then adding logic in the row click for when a row is already selected save before changing the selected row.

[2020-12-15 17:07] #5973 closed

[2020-12-15 23:41] Devmond opened #6209 "b-badge not firing drag/drop events"
### Describe the bug

It appears recent changes have caused b-badge component to stop firing drag/drop events.

### Steps to reproduce the bug

`<b-badge variant="secondary" draggable @dragstart="($event) => console.log('dragstart')" @dragend="($event) => console.log('dragend')"> b-card-group</b-badge>`

You can try it here:
https://bootstrap-vue.org/play

### Expected behavior
It should log to co

[2020-12-16 03:12] Flawe opened #6210 "Fade in image when it loads with <b-img-lazy>"
Is it possible to fade between blank-src and src when using <b-img-lazy> and the src image loads? By default the image pops in, and this can be a bit jarring, especially if there's multiple instances on screen.

[2020-12-16 04:46] DwarGrak commented on #1628
<b-dropdown @hide="onDropdownHide">...</b-dropdown>

        methods: {
            onDropdownHide(bvEvent) {
                bvEvent.preventDefault();
            },
        },

[2020-12-16 08:19] #6210 closed

[2020-12-16 09:20] lucapu88 opened #6211 "timepicker: Button only mode (bug seconds)"
https://bootstrap-vue.org/docs/components/form-timepicker#form-timepicker

I tried to delete the seconds (show-seconds)  but when I select from the button it still inserts the seconds ...
![Schermata da 2020-12-16 10-17-47](https://user-images.githubusercontent.com/56302007/102329130-46bfa900-3f88-11eb-99f8-9c3549bfd79f.png)